<div class="col-xs-12 col-sm-12 col-md-3 linebreak-text">
  {{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
  {{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
  {{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
  {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<button class="btn btn-mapzen-alt">Operators</button>{{/link-to}}
  <div class="expanded-selection">
    {{#if onestop_id}}
      {{#operator-detail bbox=bbox onestop_id=onestop_id operator=selectedOperator operators=model}}{{/operator-detail}}
      <p>{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null serves=null operated_by=onestop_id  served_by=null style_routes_by=null) }}View routes served by this operator{{/link-to}}</p><br>
      <p>{{#link-to 'stops' (query-params bbox=leafletBbox served_by=onestop_id onestop_id=null serves=null operated_by=null isochrone_mode=null) }}View stops served by this operator{{/link-to}}</p>
    {{else}}
      {{#power-select
        options=operators
        selected=operator
        placeholder="List of operators"
        searchPlaceholder="Type to filter..."
        onchange=(action "setOperator")
        as |operator|
      }}
        {{operator.name}} {{#if operator.short_name}}({{operator.short_name}}){{/if}}
      {{/power-select}}
    {{/if}}
    
    {{#if selectedOperator}}
    {{else if onlyOperator}}
    {{else if hoverOperator}}
      <div class="hover-detail">
        {{hoverOperator.name}}<br>
        <p class="caption">Click the operator area for more information</p>
      </div>
    {{else}}
      <p class="caption">Hover on the operator area for information</p>
      {{#if mapMoved}}
        <button class="btn btn-mapzen" {{action "updatebbox"}}>Redo search in map area</button>
      {{/if}}
    {{/if}}
  </div>
  {{url-builder entity="operators" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id}}
  
  {{#if currentlyLoading.isLoading}}OPERATORS{{/if}}

</div>
<div class="col-xs-12 col-sm-12 col-md-9">
  <div id="map">
    <div class="location-search">
      {{#power-select
        search=(action "searchRepo")
        renderInPlace=true
        selected=place
        placeholder="Search for location..."
        onchange=(action "setPlace")
        onclose=(action "clearPlace")
        as |repo|
      }}
        {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
      {{/power-select}}
    </div>
    {{#leaflet-map bounds=leafletBbox onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved")}}
      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{#each model as |operator|}}
        {{#polygon-layer locations=operator.location color=operator.operator_color weight=operator.operator_path_weight opacity=operator.operator_path_opacity onMouseover=(action "selectOperator" operator) onMouseout=(action "unselectOperator" operator) icon=icon draggable=false onClick=(action "setOnestopId" operator)}}
        {{/polygon-layer}}
      {{/each}}
    {{/leaflet-map}}
  </div>
</div>