<div class="col-xs-12 col-sm-12 col-md-3">
  {{#link-to 'index' (query-params bbox=bbox onestop_id=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
  {{#link-to 'routes' (query-params bbox=bbox onestop_id=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
  {{#link-to 'stops' (query-params bbox=bbox onestop_id=null)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}


  {{#link-to 'operators' (query-params bbox=bbox onestop_id=null)}}<button class="btn btn-mapzen-alt">Operators</button>{{/link-to}}
  <div class="expanded-selection">
  
  {{#if onestop_id}}
    {{#operator-detail bbox=bbox onestop_id=onestop_id operator=selectedOperator operators=model}}{{/operator-detail}}
    <p>{{#link-to 'routes' (query-params bbox=bbox operated_by=onestop_id) }}View routes served by this operator{{/link-to}}</p><br>
    <p>{{#link-to 'stops' (query-params bbox=bbox served_by=onestop_id) }}View stops served by this operator{{/link-to}}</p>
  {{else}}
    {{#power-select
      options=operators
      selected=operator
      placeholder="Search for operator"
      searchPlaceholder="Type to filter..."
      onchange=(action "setOperator")
      as |operator|
    }}
      {{operator.name}} {{#if operator.short_name}}({{operator.short_name}}){{/if}}
    {{/power-select}}
  {{/if}}
  
  {{#if selectedOperator}}
  {{else if onlyOperator}}
  {{else if hoverOperator}}
    <div class="hover-detail">
      {{hoverOperator.name}}<br>
      <p class="caption">Click the operator area for more information</p>
    </div>
  {{else}}
    <p class="caption">Hover on the operator area for information</p>
  {{/if}}
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-9">
  <div id="map">
    {{#leaflet-map bounds=bounds bbox=bbox onLoad=(action "updatebbox") onMoveend=(action "updatebbox")}}
      
      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      
      {{#each model as |operator|}}
        {{#polygon-layer locations=operator.location color=operator.operator_color weight=operator.operator_path_weight opacity=operator.operator_path_opacity onMouseover=(action "selectOperator" operator) onMouseout=(action "unselectOperator" operator) icon=icon draggable=false onClick=(action "setOnestopId" operator)}}
        {{/polygon-layer}}
      {{/each}}

    {{/leaflet-map}}
  </div>
</div>