{{#if media.isMobile}}
  <div class="col-xs-12 col-sm-12 col-md-12 linebreak-text">
    <div class="row">
      <div id="sidebar" class="collapse in">
        {{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
        {{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
        {{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
        {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<button class="btn btn-mapzen-alt">Operators</button>{{/link-to}}
        <div class="expanded-selection">
          {{#if onestop_id}}
            {{#operator-detail bbox=bbox onestop_id=onestop_id operator=selectedOperator operators=model}}{{/operator-detail}}
            <p>{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null serves=null operated_by=onestop_id  served_by=null style_routes_by=null) }}View routes served by this operator{{/link-to}}</p><br>
            <p>{{#link-to 'stops' (query-params bbox=leafletBbox served_by=onestop_id onestop_id=null serves=null operated_by=null isochrone_mode=null) }}View stops served by this operator{{/link-to}}</p>
          {{else}}
            {{#power-select
              options=operators
              selected=operator
              placeholder=placeholderMessage
              searchPlaceholder="Type to filter..."
              onchange=(action "setOperator")
              as |operator|
            }}
              {{operator.name}} {{#if operator.short_name}}({{operator.short_name}}){{/if}}
            {{/power-select}}
          {{/if}}
          
          {{#if selectedOperator}}
          {{else if onlyOperator}}
          {{else if hoverOperator}}
            <div class="hover-detail">
              {{hoverOperator.name}}<br>
              <p class="caption">Click the operator area for more information</p>
            </div>
          {{else}}
            <p class="caption">Hover on the operator area for information</p>
            {{#if mapMoved}}
              <button class="btn btn-mapzen" {{action "updatebbox"}}>Redo search in map area</button>
            {{/if}}
          {{/if}}
        </div>
        {{#link-to 'isochrones' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null isochrone_mode=null pin=pin)}}<button class="btn btn-transparent-alt">Isochrones</button>{{/link-to}}
        {{url-builder entity="operators" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id}}
      </div>
      <button type="button" class="collapse-tab" data-toggle="collapse" data-target="#sidebar">&#8597;</button>
      {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
      <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
           <div class="location-search">
              <div class="row">
                <div class="col-md-2 ember-basic-dropdown-trigger-icon">
                  {{#if pin}}
                    <img src='assets/images/pin_x1.png' class="markerIcon-x" {{action "removePin"}}/>
                  {{else}}
                    <img src='assets/images/marker1.png' class="markerIcon"/>
                  {{/if}}
                </div>
                {{#power-select
                  search=(action "searchRepo")
                  selected=place
                  placeholder="Search for location..."
                  onchange=(action "setPlace")
                  onclose=(action "clearPlace")
                  as |repo|
                }}
                  {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
                {{/power-select}}
              </div>
          </div>
          {{#leaflet-map bounds=leafletBounds onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved") onClick=(action "dropPin")}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{#each model as |operator|}}
              {{#polygon-layer locations=operator.location color=operator.operator_color weight=operator.operator_path_weight opacity=operator.operator_path_opacity onMouseover=(action "selectOperator" operator) onMouseout=(action "unselectOperator" operator) icon=icon draggable=false onClick=(action "setOnestopId" operator)}}
              {{/polygon-layer}}
            {{/each}}
          {{/leaflet-map}}
      </div>
    </div>
  </div>
{{else}}
  <div class="col-xs-12 col-sm-12 col-md-3 linebreak-text">
    {{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null pin=pin operated_by=null serves=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
    {{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
    {{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
    {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<button class="btn btn-mapzen-alt">Operators</button>{{/link-to}}
    <div class="expanded-selection">
      {{#if onestop_id}}
        {{#operator-detail bbox=bbox onestop_id=onestop_id operator=selectedOperator operators=model}}{{/operator-detail}}
        <p>{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null serves=null operated_by=onestop_id  served_by=null style_routes_by=null) }}View routes served by this operator{{/link-to}}</p><br>
        <p>{{#link-to 'stops' (query-params bbox=leafletBbox served_by=onestop_id onestop_id=null serves=null operated_by=null isochrone_mode=null) }}View stops served by this operator{{/link-to}}</p>
      {{else}}
        {{#power-select
          options=operators
          selected=operator
          placeholder=placeholderMessage
          searchPlaceholder="Type to filter..."
          onchange=(action "setOperator")
          as |operator|
        }}
          {{operator.name}} {{#if operator.short_name}}({{operator.short_name}}){{/if}}
        {{/power-select}}
      {{/if}}
      
      {{#if selectedOperator}}
      {{else if onlyOperator}}
      {{else if hoverOperator}}
        <div class="hover-detail">
          {{hoverOperator.name}}<br>
          <p class="caption">Click the operator area for more information</p>
        </div>
      {{else}}
        <p class="caption">Hover on the operator area for information</p>
        {{#if mapMoved}}
          <button class="btn btn-mapzen" {{action "updatebbox"}}>Redo search in map area</button>
        {{/if}}
      {{/if}}
    </div>
    {{#link-to 'isochrones' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null isochrone_mode=null pin=pin)}}<button class="btn btn-transparent-alt">Isochrones</button>{{/link-to}}
    {{url-builder entity="operators" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id}}
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9">
    {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
    <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
        <div class="location-search">
              <div class="row">
                <div class="col-md-2 ember-basic-dropdown-trigger-icon">
                  {{#if pin}}
                    <img src='assets/images/pin_x1.png' class="markerIcon-x" {{action "removePin"}}/>
                  {{else}}
                    <img src='assets/images/marker1.png' class="markerIcon"/>
                  {{/if}}
                </div>
                {{#power-select
                  search=(action "searchRepo")
                  selected=place
                  placeholder="Search for location..."
                  onchange=(action "setPlace")
                  onclose=(action "clearPlace")
                  as |repo|
                }}
                  {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
                {{/power-select}}
              </div>
          </div>
        {{#leaflet-map bounds=leafletBounds onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved") onClick=(action "dropPin")}}
          {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
          {{#each model as |operator|}}
            {{#polygon-layer locations=operator.location color=operator.operator_color weight=operator.operator_path_weight opacity=operator.operator_path_opacity onMouseover=(action "selectOperator" operator) onMouseout=(action "unselectOperator" operator) icon=icon draggable=false onClick=(action "setOnestopId" operator)}}
            {{/polygon-layer}}
          {{/each}}
          {{#if pin}}
              {{#marker-layer location=pinLocation icon=icon draggable=true riseOnHover=true riseOffset=1000}}
              {{/marker-layer}}
            {{/if}}
        {{/leaflet-map}}
    </div>
  </div>
{{/if}}