<div id="sidebar" class="collapse in col-md-4">
  <div class="col-xs-12 no-padding center">
    <a href="https://mapzen.com/"><div class="mapzen-logo"></div></a>
  </div>
  <div class="col-xs-12 no-padding">
    {{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null pin=pin)}}<h1>Mobility Explorer</h1>{{/link-to}}
  </div>
  {{#if media.isMobile}}
    {{#unless textboxIsClosed}}
      {{text-box route="index" action="setTextBoxClosed"}}
    {{/unless}}
  {{/if}}
  {{sidebar-title-transitland}}
  <div class="btn-group-vertical" role="group" >
  {{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null)}}<button class="btn btn-transparent-alt">Show Routes</button>{{/link-to}}
  {{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Show Stops</button>{{/link-to}}
  {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<button class="btn btn-mapzen-alt">Show Operators</button>{{/link-to}}
    <div class="expanded-selection">
      {{#if onestop_id}}
        {{#operator-detail bbox=bbox onestop_id=onestop_id operator=selectedOperator operators=model}}{{/operator-detail}}
        <p>{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null serves=null operated_by=onestop_id served_by=null style_routes_by=null) }}View routes operated by {{model.firstObject.name}}{{/link-to}}</p><br>
        <p>{{#link-to 'stops' (query-params bbox=leafletBbox served_by=onestop_id onestop_id=null serves=null operated_by=null isochrone_mode=null) }}View stops served by {{model.firstObject.name}}{{/link-to}}</p>
      {{else}}
        {{#power-select
          options=operators
          selected=operator
          placeholder=placeholderMessage
          searchPlaceholder="Type to filter..."
          onchange=(action "setOperator")
          as |operator|
        }}
          <div style={{operator.style}}>
            {{operator.name}} {{#if operator.short_name}}({{operator.short_name}}){{/if}}
          </div>
        {{/power-select}}
      {{/if}}

      {{#if selectedOperator}}
      {{else if onlyOperator}}
      {{else if hoverOperator}}
        <div class="hover-detail">
          {{hoverOperator.name}}<br>
          <p class="caption">Click the operator area for more information</p>
        </div>
      {{else}}
        <p class="caption">{{operatorSelectContent}}</p>
        {{#if mapMoved}}
          <button class="btn btn-mapzen" {{action "updatebbox"}}>Redo search in map area</button>
        {{/if}}
      {{/if}}
    </div>
    {{url-builder entity="operators" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id}}
    </div>
      <hr class="sidebar-hr">
      {{sidebar-title-mobility}}
      <div class="btn-group-vertical" role="group" >
      {{#link-to 'isochrones' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null isochrone_mode=null pin=pin)}}<button class="btn btn-transparent-alt">Generate Isochrones</button>{{/link-to}}
      {{#link-to 'map-matching' (query-params bbox=leafletBbox onestop_id=null served_by=null isochrone_mode=null operated_by=null pin=pin serves=null vehicle_type=null isochrone_mode=null trace=null)}}<button class="btn btn-transparent-alt">Try Map Matching</button>{{/link-to}}
    </div>
  </div>
<div class="col-md-8">
  <div class="row">
    {{#if media.isMobile}}
      <button type="button" class="collapsed collapse-tab" data-toggle="collapse" data-target="#sidebar">&#8597;</button>
    {{/if}} 
    {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
    <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
      <div class="location-search">
        <div class="row">
          <div class="col-md-2 ember-basic-dropdown-trigger-icon">
            {{#if pin}}
              <img src='assets/images/pin_x1.png' class="markerIcon-x" {{action "removePin"}}/>
            {{else}}
              <img src='assets/images/marker1.png' class="markerIcon"/>
            {{/if}}
          </div>
          {{#power-select
            search=(action "searchRepo")
            selected=place
            placeholder=searchbarContent
            onchange=(action "setPlace")
            onclose=(action "clearPlace")
            as |repo|
          }}
            {{repo.properties.label}}
          {{/power-select}}
        </div>
      </div>
      <div class="nonmobile-intro-textbox">
        {{#unless media.isMobile}}
          {{#unless textboxIsClosed}}
            {{text-box route="index" action="setTextBoxClosed"}}
          {{/unless}}
        {{/unless}}
      </div>

      {{#leaflet-map bounds=leafletBounds onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved") onClick=(action "dropPin")}}
        {{tangram-refill-basemap-layer}}
        {{#each model as |operator|}}
          {{#polygon-layer locations=operator.location color=operator.operator_color weight=operator.operator_path_weight opacity=operator.operator_path_opacity onMouseover=(action "selectOperator" operator) onMouseout=(action "unselectOperator" operator) icon=icon draggable=false onClick=(action "setOnestopId" operator)}}
          {{/polygon-layer}}
        {{/each}}
        {{#if pin}}
            {{#marker-layer location=pinLocation icon=icon draggable=true riseOnHover=true riseOffset=1000}}
            {{/marker-layer}}
          {{/if}}
      {{/leaflet-map}}
    </div>
  </div>
</div>