<div id="sidebar" class="collapse in col-md-4">
  <div class="col-xs-12 no-padding center">
    <a href="https://mapzen.com/"><div class="mapzen-logo"></div></a>
  </div>
  <div class="col-xs-12 no-padding">
    {{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null pin=pin)}}<h1>Mobility Explorer</h1>{{/link-to}}
  </div>
  {{#if media.isMobile}}
		{{#unless textboxIsClosed}}
			{{text-box route="index" action="setTextBoxClosed"}}
		{{/unless}}
	{{/if}}
	{{sidebar-title-transitland}}
	<div class="btn-group-vertical" role="group" >
		{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null isochrone_mode=null pin=pin)}}<button class="btn btn-transparent-alt">Show Routes</button>{{/link-to}}
		{{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null pin=pin isochrone_mode=null)}}<button class="btn btn-transparent-alt">Show Stops</button>{{/link-to}}
		{{#link-to 'operators' (query-params bbox=bbox pin=pin onestop_id=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Show Operators</button>{{/link-to}}
	</div>
	<hr class="sidebar-hr">
		{{sidebar-title-mobility}}
	<div class="btn-group-vertical" role="group" >
	{{#link-to 'isochrones' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=isochrone_mode pin=pin departure_time=null)}}<button class="btn btn-mapzen-alt">Generate Isochrones</button>{{/link-to}}
	<div class="expanded-selection">
		<form>
			<div class="isochrone-detail">
				{{#if pin}}
					<div class="form-group-header">View distance you can travel from this {{#if pin}}pin{{/if}}{{#if stopmode}}stop{{/if}} via:</div>
						<div class="form-group">
							{{#if (eq isochrone_mode "pedestrian")}}
								<input type="radio" id="radio-1" name="options" checked=showPedestrian {{action "setIsochroneMode" "pedestrian"}}>
							{{else}}
								<input type="radio" id="radio-1" name="options" {{action "setIsochroneMode" "pedestrian"}}>
							{{/if}}
							<label for="radio-1">walking</label><br>
							{{#if (eq isochrone_mode "pedestrian")}}
							{{isochrone-legend isochrone_mode=isochrone_mode showIsochrone=showIsochrone action="setIsochrone"}}
							{{/if}}

							{{#if (eq isochrone_mode "bicycle")}}
								<input type="radio" id="radio-2" name="options" checked {{action "setIsochroneMode" "bicycle"}}>
							{{else}}
								<input type="radio" id="radio-2" name="options" {{action "setIsochroneMode" "bicycle"}}>
							{{/if}}
							<label for="radio-2">biking</label><br>
							{{#if (eq isochrone_mode "bicycle")}}
								{{isochrone-legend isochrone_mode=isochrone_mode showIsochrone=showIsochrone action="setIsochrone"}}
							{{/if}}

							{{#if (eq isochrone_mode "auto")}}
								<input type="radio" id="radio-3" name="options" checked {{action "setIsochroneMode" "auto"}}>
							{{else}}
								<input type="radio" id="radio-3" name="options" {{action "setIsochroneMode" "auto"}}>
							{{/if}}
							<label for="radio-3">driving</label><br>
							{{#if (eq isochrone_mode "auto")}}
								{{isochrone-legend isochrone_mode=isochrone_mode showIsochrone=showIsochrone action="setIsochrone"}}
							{{/if}}

							{{#if (eq isochrone_mode "multimodal")}}
								<input type="radio" id="radio-4" name="options" checked {{action "setIsochroneMode" "multimodal"}}>
							{{else}}
								<input type="radio" id="radio-4" name="options" {{action "setIsochroneMode" "multimodal"}}>
							{{/if}}
							<label for="radio-4">transit</label>
							{{#if (eq isochrone_mode "multimodal")}}
								{{isochrone-legend isochrone_mode=isochrone_mode showIsochroneOne=showIsochroneOne showIsochroneTwo=showIsochroneTwo showIsochroneThree=showIsochroneThree showIsochroneFour=showIsochroneFour action="setIsochrone"}}
							{{/if}}
						</div>
						{{#if (eq isochrone_mode "multimodal")}}
							{{#if departure_time}}
								<p class="caption">departure at:</p>
								<div class="datetime-picker">
									{{bs-datetimepicker date=departure_time isTime=true sideBySide=false showTodayButton=true change=(action 'change')}}
								</div>
								<div class="reset-datetime" {{action "resetDepartureTime"}}>
									reset to current date and time <i class="fa fa-undo" aria-hidden="true"></i></div>
							{{else}}
								<p class="caption">departure at:</p>
								<div class="datetime-picker">
									{{bs-datetimepicker date=moment isTime=true sideBySide=false showTodayButton=true change=(action 'change')}}
								</div>
							{{/if}}
						{{/if}}
					{{else}}
						<div>
							<p>See the distance you can travel from a particular point at various time intervals.</p>
							<p>Read <a href="https://mapzen.com/documentation/mobility/explorer/isochrones/">more about isochrones</a>, or get started by clicking on the map or searching for a location.</p>
						</div>
					{{/if}}
				</div>
				{{#if (eq isochrone_mode "multimodal")}}
					<div>
						{{#if markIncludedExcluded}}
							<button type="button" data-toggle="collapse" data-target="#operator-list">Include or exclude operators &#8597;</button><br>
							<div id="operator-list" class="collapse">
								<div class="caption">Include one or more operators to see isochrones that use only the selected operator(s).<br>
									<br>
									Exclude one or more operators to see isochones that do not include the selected operator(s).<br><br>
								</div>
								<table>
									<tr>
										<th style="min-width:5ch;padding-right:5px">Incl.</th>
										<th style="min-width:5ch;padding-right:5px">Excl.</th>
										<th>Operator</th>
									</tr>
									{{#each model.operators as |operator|}}
										<tr>
											<td class="center-checkbox">
												{{#if (eq operator.include true)}}
													<input type="checkbox" name="include-operator" {{action "includeOperator" operator}} checked>
													<label></label>
												{{else}}
													<input type="checkbox" name="include-operator" {{action "includeOperator" operator}}>
													<label></label>
												{{/if}}
											</td>
											<td class="center-checkbox">
												{{#if (eq operator.exclude true)}}
												<input type="checkbox" name="exclude-operator" {{action "excludeOperator" operator}} checked>
												<label></label>
												{{else}}
													<input type="checkbox" name="exclude-operator" {{action "excludeOperator" operator}}>
												<label></label>

												{{/if}}
											</td>
											<td>{{operator.name}}</td>
										</tr>
									{{/each}}
								</table>
							</div>
							<button type="button" data-toggle="collapse" data-target="#route-list">Include or exclude routes &#8597;</button><br>
							<div id="route-list" class="collapse">
								<div class="caption">Include one or more routes to see isochrones that use only the selected route(s).<br>
									<br>
									Exclude one or more routes to see isochrones that do not use the selected route(s).<br><br>
								</div>
								<table>
									<tr>
										<th style="min-width:5ch;padding-right:5px">Incl.</th>
										<th style="min-width:5ch;padding-right:5px">Excl.</th>
										<th>Route</th>
									</tr>
									{{#if (gt exclude_operators.length 0)}}
										{{#each model.routes as |route|}}
											{{#unless (array-contains exclude_operators route.operated_by_onestop_id)}}
												<tr>
													<td class="center-checkbox">
														{{#if (eq route.include true)}}
															<input type="checkbox" name="include-route" {{action "includeRoute" route}} checked>
															<label></label>
														{{else}}
															<input type="checkbox" name="include-route" {{action "includeRoute" route}}>
															<label></label>
														{{/if}}
													</td>
													<td class="center-checkbox">
														{{#if (eq route.exclude true)}}
														<input type="checkbox" name="exclude-route" {{action "excludeRoute" route}} checked>
														<label></label>
														{{else}}
															<input type="checkbox" name="exclude-route" {{action "excludeRoute" route}}>
															<label></label>
														{{/if}}
													</td>
													<td>{{route.name}}</td>
												</tr>
											{{/unless}}
										{{/each}}
									{{else if (gt include_operators.length 0)}}
										{{#each model.routes as |route|}}
											{{#if (array-contains include_operators route.operated_by_onestop_id)}}
												<tr>
													<td class="center-checkbox">
														{{#if (eq route.include true)}}
															<input type="checkbox" name="include-route" {{action "includeRoute" route}} checked>
															<label></label>
														{{else}}
															<input type="checkbox" name="include-route" {{action "includeRoute" route}}>
															<label></label>
														{{/if}}
													</td>
													<td class="center-checkbox">
														{{#if (eq route.exclude true)}}
														<input type="checkbox" name="exclude-route" {{action "excludeRoute" route}} checked>
														<label></label>
														{{else}}
															<input type="checkbox" name="exclude-route" {{action "excludeRoute" route}}>
															<label></label>
														{{/if}}
													</td>
													<td>{{route.name}}</td>
												</tr>
											{{/if}}
										{{/each}}
									{{else if (eq include_operators.length exclude_operators.length)}}
										{{#each model.routes as |route|}}
												<tr>
													<td class="center-checkbox">
														{{#if (eq route.include true)}}
															<input type="checkbox" name="include-route" {{action "includeRoute" route}} checked>
															<label></label>
														{{else}}
															<input type="checkbox" name="include-route" {{action "includeRoute" route}}>
															<label></label>
														{{/if}}
													</td>
													<td class="center-checkbox">
														{{#if (eq route.exclude true)}}
														<input type="checkbox" name="exclude-route" {{action "excludeRoute" route}} checked>
														<label></label>
														{{else}}
															<input type="checkbox" name="exclude-route" {{action "excludeRoute" route}}>
															<label></label>
														{{/if}}
													</td>
													<td>{{route.name}}</td>
												</tr>
										{{/each}}
									{{/if}}
								</table>
							</div>
						{{/if}}
					</div>
				{{/if}}
			</form>
		</div>
    {{#if map-matching}}
			{{#link-to 'map-matching' (query-params bbox=leafletBbox onestop_id=null served_by=null isochrone_mode=null operated_by=null pin=pin serves=null vehicle_type=null isochrone_mode=null trace=null)}}<button class="btn btn-transparent-alt">Try Map Matching</button>{{/link-to}}
		{{/if}}
	</div>
	{{#if isochrone_mode}}<br><div>{{url-builder url=model.linkUrl server="Mapzen Mobility" query="results" entity="isochrones" queryParams=queryParams bbox=bbox}}</div>{{/if}}
</div>
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
	<div class="row">
		{{#if media.isMobile}}
			<button type="button" class="collapsed collapse-tab" data-toggle="collapse" data-target="#sidebar">&#8597;</button>
		{{/if}}
		{{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
		<div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
			<div class="location-search">
					<div class="row">
						<div class="col-md-2 ember-basic-dropdown-trigger-icon">
							{{#if pin}}
								<img src='assets/images/pin_x1.png' class="markerIcon-x" {{action "removePin"}}/>
							{{else}}
								<img src='assets/images/marker1.png' class="markerIcon"/>
							{{/if}}
						</div>
						{{#power-select
							search=(action "searchRepo")
							selected=place
							placeholder=searchbarContent
							onchange=(action "setPlace")
							onclose=(action "clearPlace")
							as |repo|
						}}
							{{repo.properties.label}}
						{{/power-select}}
					</div>
			</div>
			<div class="nonmobile-intro-textbox">
        {{#unless media.isMobile}}
          {{#unless textboxIsClosed}}
            {{text-box route="index" action="setTextBoxClosed"}}
          {{/unless}}
        {{/unless}}
      </div>
			{{#leaflet-map bounds=leafletBounds onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onClick=(action "dropPin")}}
				{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" attribution=attribution}}
				{{#if pin}}
					{{#if isochrone_mode}}
						{{#each model.isochrones.features as |isochrone|}}
							{{#if (eq isochrone.properties.contour 60)}}
								{{#geojson-layer geoJSON=isochrone fillColor="#d01c8b" fillOpacity=".2" stroke=false}}
								{{/geojson-layer}}
							{{/if}}
							{{#if (eq isochrone.properties.contour 45)}}
								{{#geojson-layer geoJSON=isochrone fillColor="#a3166d"  stroke=false weight=1 fillOpacity=".2"}}
								{{/geojson-layer}}
							{{/if}}
							{{#if (eq isochrone.properties.contour 30)}}
								{{#geojson-layer geoJSON=isochrone fillColor="#b8e186" stroke=false weight=1 fillOpacity=".6"}}
								{{/geojson-layer}}
							{{/if}}
							{{#if (eq isochrone.properties.contour 15)}}
								{{#geojson-layer geoJSON=isochrone fillColor="#4dac26"  stroke=false weight=1 fillOpacity=".3"}}
								{{/geojson-layer}}
							{{/if}}
							{{/each}}
						{{/if}}
						{{#marker-layer location=pinLocation icon=icon draggable=true onDragend=(action "updatePin") onRemove=(action "removePin") riseOnHover=true riseOffset=1000}}
					{{/marker-layer}}
				{{/if}}
			{{/leaflet-map}}
		</div>
	</div>
</div>
