Stop details:<br>
{{#if stop}}
	{{#if stop.name}}<strong>Name:</strong> {{stop.name}}<br>{{/if}}
	{{#if stop.onestop_id}}<strong>ID:</strong>{{stop.onestop_id}}<br>{{/if}}
	{{#if stop.tags.zone_id}}<strong>Zone ID:</strong> {{stop.tags.zone_id}}<br>{{/if}}
	{{#if stop.tags.stop_url}}<strong>URL:</strong> {{stop.tags.stop_url}}<br>{{/if}}
	{{#if stop.tags.stop_desc}}<strong>Stop description:</strong> {{stop.tags.stop_desc}}<br>{{/if}}
	{{#if stop.tags.osm_way_id}}<strong>OSM way ID:</strong> {{stop.tags.osm_way_id}}<br>{{/if}}
	{{#if stop.tags.wheelchair_boarding}}<strong>Wheelchair boarding:</strong> {{stop.tags.wheelchair_boarding}}<br>{{/if}}
	{{#if stop.routes_serving_stop}}<strong>Served by:</strong>
		<ul>
			{{#each stop.routes_serving_stop as |routes_serving_stop|}}
					<li><strong>{{#link-to 'routes' (query-params bbox=bbox onestop_id=routes_serving_stop.route_onestop_id) }}{{routes_serving_stop.route_name}}{{/link-to}}</strong> ({{#link-to 'operators' (query-params bbox=bbox onestop_id=routes_serving_stop.operator_onestop_id) }}{{routes_serving_stop.operator_name}}{{/link-to}})</li>
			{{/each}}
		</ul>
	{{/if}}
{{else}}
	{{#each stops as |stop|}}
		{{#if stop.name}}<strong>Name:</strong> {{stop.name}}<br>{{/if}}
		{{#if stop.onestop_id}}<strong>ID:</strong>{{stop.onestop_id}}<br>{{/if}}
		{{#if stop.tags.zone_id}}<strong>Zone ID:</strong> {{stop.tags.zone_id}}<br>{{/if}}
		{{#if stop.tags.stop_url}}<strong>URL:</strong> {{stop.tags.stop_url}}<br>{{/if}}
		{{#if stop.tags.stop_desc}}<strong>Stop description:</strong> {{stop.tags.stop_desc}}<br>{{/if}}
		{{#if stop.tags.osm_way_id}}<strong>OSM way ID:</strong> {{stop.tags.osm_way_id}}<br>{{/if}}
		{{#if stop.tags.wheelchair_boarding}}<strong>Wheelchair boarding:</strong> {{stop.tags.wheelchair_boarding}}<br>{{/if}}
		{{#if stop.routes_serving_stop}}<strong>Served by:</strong>
			<ul>
				{{#each stop.routes_serving_stop as |routes_serving_stop|}}
						<li><strong>{{#link-to 'routes' (query-params bbox=bbox onestop_id=routes_serving_stop.route_onestop_id) }}{{routes_serving_stop.route_name}}{{/link-to}}</strong> ({{#link-to 'operators' (query-params bbox=bbox onestop_id=routes_serving_stop.operator_onestop_id) }}{{routes_serving_stop.operator_name}}{{/link-to}})</li>
				{{/each}}
			</ul>
		{{/if}}
	{{/each}}
{{/if}}
<!-- <button class="btn btn-mapzen-alt" {{action "testFunction" stop}}>Test results</button> -->


