{{#if media.isMobile}}
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
      <div id="sidebar" class="collapse in">
        <h2>Mobility Explorer</h2>
        <div class="btn-group-vertical" role="group" >
          {{#link-to 'routes' (query-params bbox=bbox onestop_id=null operated_by=null pin=pin style_routes_by=null pin=pin)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
          {{#link-to 'stops' (query-params bbox=bbox onestop_id=null isochrone_mode=null pin=pin)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
          {{#link-to 'operators' (query-params bbox=bbox onestop_id=null pin=pin)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}
          {{#link-to 'isochrones' (query-params bbox=bbox onestop_id=null pin=pin)}}<button class="btn btn-transparent-alt">Isochrones</button>{{/link-to}}
        </div>
      </div>
      {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
      <button type="button" class="collapse-tab" data-toggle="collapse" data-target="#sidebar">&#8597;</button>
      <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
          <div class="location-search">
              <div class="row">
                <div class="ember-basic-dropdown-trigger-icon">
                  {{#if pin}}
                    <div class='fa fa-fw fa-trash-o' {{action "removePin"}}></div>
                  {{else}}
                    <img src='assets/images/marker1.png' class="markerIcon"/>
                  {{/if}}
                </div>
                {{#power-select
                  search=(action "searchRepo")
                  selected=place
                  placeholder="Search for location..."
                  onchange=(action "setPlace")
                  onclose=(action "clearPlace")
                  as |repo|
                }}
                  {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
                {{/power-select}}
              </div>
          </div>
          {{#leaflet-map center=center zoom=zoom onMoveend=(action "updatebbox") onClick=(action "dropPin")}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" attribution=attribution}}
            {{#if pin}}
              {{#marker-layer location=pinLocation icon=icon draggable=true riseOnHover=true riseOffset=1000}}
              {{/marker-layer}}
            {{/if}}
          {{/leaflet-map}}
      </div>
    </div>
  </div>
{{else}}
  <div id="sidebar" class="collapse in col-xs-3 col-sm-3 col-md-3">
    <h2>Mobility Explorer</h2>
    <p class="site-intro">Learn about multimodal transportation around the world. Search for a place or browse the map, and use the buttons to view transit routes, stops, and operators.</p>
    <h4>Data</h4>
    <caption class="sidebar-caption col-xl-12 col-lg-12 col-md-12 col-sm-12">Open transit data from Transitland</caption>
    <div class="btn-group-vertical" role="group" >
      {{#link-to 'routes' (query-params bbox=bbox onestop_id=null operated_by=null pin=pin style_routes_by=null pin=pin)}}
      <button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
      {{#link-to 'stops' (query-params bbox=bbox onestop_id=null isochrone_mode=null pin=pin)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
      {{#link-to 'operators' (query-params bbox=bbox pin=pin onestop_id=null)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}
    </div>
    <hr class="sidebar-hr">
    <h4>Services</h4>
    <caption class="sidebar-caption col-xl-12 col-lg-12 col-md-12 col-sm-12">Travel planning services from Mapzen</caption>
      <div class="btn-group-vertical" role="group" >
      {{#link-to 'isochrones' (query-params bbox=bbox pin=pin onestop_id=null)}}<button class="btn btn-transparent-alt">Isochrones</button>{{/link-to}}
    </div>
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9">
    <div class="row">
      {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
      <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>        
          <div class="location-search">
              <div class="row">
                <div class="col-md-2 ember-basic-dropdown-trigger-icon">
                  {{#if pin}}
                  <div class='fa fa-fw fa-trash-o' {{action "removePin"}}></div>
                  {{else}}
                    <img src='assets/images/marker1.png' class="markerIcon"/>
                  {{/if}}
                </div>
                {{#power-select
                  search=(action "searchRepo")
                  selected=place
                  placeholder="Search for location..."
                  onchange=(action "setPlace")
                  onclose=(action "clearPlace")
                  as |repo|
                }}
                  {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
                {{/power-select}}
              </div>
          </div>
          {{#leaflet-map center=center zoom=zoom onMoveend=(action "updatebbox") onClick=(action "dropPin")}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" attribution=attribution}}
            {{#if pin}}
              {{#marker-layer location=pinLocation icon=icon draggable=true riseOnHover=true riseOffset=1000}}
              {{/marker-layer}}
            {{/if}}
          {{/leaflet-map}}
      </div>
    </div>
  </div>
{{/if}}