<container-fluid>
  <row>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <h2>Mobility Explorer</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="toc" role="directory">
              <ul class="nav toc-nav">
                {{#if initialSelected}}
                  <li class="toc-top-level alert-info">
                    <a href="#">Select to view:</a>
                  </li>
                {{/if}}
                {{#if routesSelected}}
                  <li class="toc-top-level toc-current">
                    <a href="#" class="toc-subnav-toggle">Routes</a>
                    <ul class="toc-subnav toc-expand">
                      <li><a href="#">
                        <form>
                          <div class="form-group">
                            <input type="radio" id="radio-1" name="options">
                            <label for="radio-1">Mode</label>
                          </div>
                          <div class="form-group">
                            <input type="radio" id="radio-2" name="options">
                            <label for="radio-2">Operator</label>
                          </div>
                          <div class="form-group">
                            <input type="radio" id="radio-3" name="options">
                            <label for="radio-3">Bike</label>
                          </div>
                          <div class="form-group">
                            <input type="radio" id="radio-4" name="options">
                            <label for="radio-4">Wheelchair</label>
                          </div>
                          <div class="form-group">
                            <input type="radio" id="radio-5" name="options">
                            <label for="radio-5">Frequency</label>
                          </div>
                        </form>
                      </a></li>
                    </ul>
                  </li>
                {{else}}
                  <li class="toc-top-level">
                    <a href="#" {{action "toggleSelectedType" "routes"}}>Routes</a>
                  </li>
                {{/if}}

                {{#if stopsSelected}}
                  <li class="toc-top-level toc-current">
                    <a href="#" class="toc-subnav-toggle">Stops</a>
                    <ul class="toc-subnav toc-expand">
                      <li><a href="#">
                        <form>
                          <div class="form-group">
                            <input type="radio" id="radio-1" name="options">
                            <label for="radio-1">Frequency</label>
                          </div>
                          <div class="form-group">
                            <input type="radio" id="radio-2" name="options">
                            <label for="radio-2">Walkshed</label>
                          </div>
                          <div class="form-group">
                            <input type="radio" id="radio-3" name="options">
                            <label for="radio-3">Transitshed</label>
                          </div>
                        </form>
                      </a></li>
                    </ul>
                  </li>
                {{else}}
                  <li class="toc-top-level">
                    <a href="#" {{action "toggleSelectedType" "stops"}}>Stops</a>
                  </li>
                {{/if}}

                {{#if operatorsSelected}}
                  <li class="toc-top-level toc-current">
                    <a href="#" class="toc-subnav-toggle">Operators</a>
                    <ul class="toc-subnav toc-expand">
                      <li><a href="#">
                        <form>
                          <div class="form-group">
                            <input type="radio" id="radio-1" name="options">
                            <label for="radio-1">View service areas</label>
                          </div>
                          <div class="form-group">
                            <input type="radio" id="radio-2" name="options">
                            <label for="radio-2">View routes</label>
                          </div>
                        </form>
                      </a></li>
                    </ul>
                  </li>
                  {{else}}
                    <li class="toc-top-level">
                      {{#link-to 'operators'}}<span>Operators</span>{{/link-to}}


                      <!-- {{action "toggleSelectedType" "operators"}} -->
                    </li>

                {{/if}}

               
              </ul>
            </div>
          </div>
        </div>
       
          <button class="btn btn-mapzen-alt">Update results for map area</button>

      </div>
    </div>


  <div class="col-sm-12 col-md-9 col-lg-9 leaflet-container">
    
    <div id="map">
      {{#leaflet-map lat=lat lng=lng bBox=bBox zoom=zoom onMove=(action "toggleReset") onMoveend=(action "getBbox")}}

        
        {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
        {{#marker-layer location=emberConfLocation icon=icon draggable=true}}
          <h3>The Oregon Convention Center</h3>
          777 NE Martin Luther King Jr Blvd<br>
          Portland, OR 97232
        {{/marker-layer}}

        {{#marker-layer location=hotel icon=icon}}
          <h3>Hotel</h3>
        {{/marker-layer}}

      {{/leaflet-map}}
    </div>


         
    <!-- <tbody>
      {{#each model as |operator|}}
        <tr>
          <td>{{operator.id}}</td>
          <td>{{operator.name}}</td>
          
          <td>
            {{#each operator.feeds as |feed|}}
              <tr>{{feed.id}}</tr>
            {{/each}}
          </td>
          <td>
            {{#each operator.feeds as |feed|}}
              <tr>{{feed.url}}</tr>
            {{/each}}
          </td>
        </tr>
      {{/each}}
    </tbody> -->
  </div>

</row>
</container-fluid>

<row>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <br>
    <p>Bounding box: <code>{{bBox}}</code></p>
  </div>
</row>

  
  

