<h1>Mobility Explorer</h1>
<p>Latitude: <code>{{lat}}</code> / Longitude: <code>{{lng}}</code></p>
<p>Bounding box: <code>{{bBox}}</code></p>


<container>
<div class="map-side-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="toc" role="directory">
          <ul class="nav toc-nav">
            <li class="toc-top-level toc-current">
              <a href="#" class="toc-subnav-toggle">Routes</a>
              <ul class="toc-subnav toc-expand">
                <li><a href="#">
                  <form>
                    <div class="form-group">
                      <input type="radio" id="radio-1" name="options">
                      <label for="radio-1">Mode</label>
                    </div>
                    <div class="form-group">
                      <input type="radio" id="radio-2" name="options">
                      <label for="radio-2">Operator</label>
                    </div>
                    <div class="form-group">
                      <input type="radio" id="radio-3" name="options">
                      <label for="radio-3">Bike</label>
                    </div>
                    <div class="form-group">
                      <input type="radio" id="radio-4" name="options">
                      <label for="radio-4">Wheelchair</label>
                    </div>
                    <div class="form-group">
                      <input type="radio" id="radio-5" name="options">
                      <label for="radio-5">Frequency</label>
                    </div>
                  </form>
                </a></li>
              </ul>
            </li>
            <li class="toc-top-level">
              <a href="#">Stops</a>
            </li>
            <li class="toc-top-level">
              <a href="#">Operators</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
    
<div class="leaflet-container">
  
  <div id="map">
    {{#leaflet-map lat=lat lng=lng bBox=bBox zoom=zoom onMoveend=(action "updateCenter") onMoveend=(action "getBbox")}}

      
      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{#marker-layer location=emberConfLocation icon=icon draggable=true}}
        <h3>The Oregon Convention Center</h3>
        777 NE Martin Luther King Jr Blvd<br>
        Portland, OR 97232
      {{/marker-layer}}

      {{#marker-layer location=hotel icon=icon}}
        <h3>Hotel</h3>
      {{/marker-layer}}

    {{/leaflet-map}}
  </div>


       
        <!-- <tbody>
            {{#each model as |operator|}}
            <tr>
              <td>{{operator.id}}</td>
              <td>{{operator.name}}</td>
              
              <td>
                {{#each operator.feeds as |feed|}}
                  <tr>{{feed.id}}</tr>
                {{/each}}
              </td>
              <td>
                {{#each operator.feeds as |feed|}}
                  <tr>{{feed.url}}</tr>
                {{/each}}
              </td>

            </tr>
          {{/each}}
        </tbody> -->
  <!-- </div> -->
</div>
</container>

  
  

