<div class="col-xs-12 col-sm-12 col-md-3">
  <h2>Mobility Explorer</h2>
  <div class="btn-group-vertical" role="group" >
    {{#link-to 'routes' (query-params bbox=bbox onestop_id=null operated_by=null style_routes_by=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
    {{#link-to 'stops' (query-params bbox=bbox onestop_id=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
    {{#link-to 'operators' (query-params bbox=bbox onestop_id=null)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-9">
  <div class="row">
    {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
    <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
      
        <div class="location-search">
          {{#power-select
            search=(action "searchRepo")
            selected=place
            placeholder="Search for location..."
            onchange=(action "setPlace")
            onclose=(action "clearPlace")
            as |repo|
          }}
            {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
          {{/power-select}}
        </div>
        {{#leaflet-map bounds=leafletBbox onMoveend=(action "updatebbox")}}
          {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
        {{/leaflet-map}}
    </div>
  </div>
</div>