<div class="col-xs-12 col-sm-12 col-md-3 linebreak-text">
	{{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
  
  {{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type=null style_routes_by=null)}}<button class="btn btn-mapzen-alt">Routes</button>{{/link-to}}
  
  <div class="expanded-selection">
		{{#if onestop_id}}
			{{#route-detail type="route stop pattern" bbox=bbox onestop_id=onestop_id route=onlyRoute}}{{/route-detail}}
			<br>
			<!-- Checkbox to use later with functionality to toggle viewing stops for route within routes route. -->
	  	<!-- {{#if displayStops}}
	  		<input type="checkbox" id="check-1" name="display-stops" {{action "displayStops"}}>
	  	{{else}}
	  		<input type="checkbox" id="check-1" name="display-stops" {{action "displayStops"}} checked>
	  	{{/if}}
	  	<label for="check-1"> -->
	  		<!-- {{#link-to 'stops' (query-params bbox=bbox onestop_id=null operated_by=null serves=null served_by=onestop_id vehicle_type=null isochrone_mode=null)  }}View stops served by route{{/link-to}} -->
	  	<!-- </label> -->
	  	<br>
		{{/if}}		
	</div>
  {{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
  
  {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type=null)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}  

  {{url-builder entity="routes" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id serves=serves operated_by=operated_by vehicle_type=vehicle_type}}
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
	<div id="map">
		<div class="location-search">
	    {{#power-select
	      search=(action "searchRepo")
        renderInPlace=true
	      selected=place
	      placeholder="Search for location..."
	      onchange=(action "setPlace")
	      as |repo|
	    }}
	      {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
	    {{/power-select}}
	  </div>
		{{#leaflet-map bounds=leafletBbox onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved")}}
			{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
				{{#each model as |route-stop-pattern|}}
				  {{#polyline-layer locations=route-stop-pattern.location color="#d4645c" opacity=1}}
					{{/polyline-layer}}
				{{/each}}
		{{/leaflet-map}}
	</div>
</div>