<div id="sidebar" class="collapse in col-md-4">
  <div class="col-xs-12 no-padding center">
    <a href="https://mapzen.com/"><div class="mapzen-logo"></div></a>
  </div>
  <div class="col-xs-12 no-padding">
    {{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null pin=pin)}}<h1>Mobility Explorer</h1>{{/link-to}}
  </div>
  {{#if media.isMobile}}
    {{#unless textboxIsClosed}}
      {{text-box route="index" action="setTextBoxClosed"}}
    {{/unless}}
  {{/if}}
  {{sidebar-title-transitland}}
  <div class="btn-group-vertical" role="group" >
    {{#link-to 'routes' (query-params bbox=bbox onestop_id=null operated_by=null pin=pin style_routes_by=null pin=pin serves=null)}}<button class="btn btn-transparent-alt">Show Routes</button>{{/link-to}}
    {{#link-to 'stops' (query-params bbox=bbox onestop_id=null isochrone_mode=null pin=pin)}}<button class="btn btn-transparent-alt">Show Stops</button>{{/link-to}}
    {{#link-to 'operators' (query-params bbox=bbox pin=pin onestop_id=null)}}<button class="btn btn-transparent-alt">Show Operators</button>{{/link-to}}
  </div>
  <hr class="sidebar-hr">
    {{sidebar-title-mobility}}
    <div class="btn-group-vertical" role="group" >
    {{#link-to 'isochrones' (query-params bbox=bbox pin=pin onestop_id=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Generate Isochrones</button>{{/link-to}}
    {{#link-to 'map-matching' (query-params bbox=bbox pin=pin trace=null)}}<button class="btn btn-mapzen-alt">Map Matching</button>{{/link-to}}
    <div class="expanded-selection">
      <h4>Sample GPX Traces</h4>
      {{#power-select
        options=model.gpxTraces
        placeholder=gpxPlaceholder
        searchPlaceholder="Type to filter..."
        onchange=(action "setTrace")
        as |trace|
      }}
        {{trace.display_name}}
      {{/power-select}}

      <form class="gpx-upload">
        {{#unless uploading}}
          <button type="button" class="collapsed upload-button" {{action "setUploading"}}>Try map-matching your own GPX file</button>
        {{else}}
          <button type="button" class="upload-button" {{action "setUploading"}}>Try map-matching your own GPX file</button>
          <div id="upload">
            <label class="custom-file">
              <input type="file" id="gpxFileUpload">
            </label>
            <div class="upload-options">
              <h5>Choose mode:</h5>
              {{#if (eq costing "pedestrian")}}
                <input type="radio" id="pedestrian" name="options" checked {{action "setCosting" "pedestrian"}}><label for="pedestrian">pedestrian</label><br>
              {{else}}
                <input type="radio" id="pedestrian" name="options" {{action "setCosting" "pedestrian"}}><label for="pedestrian">pedestrian</label><br>
              {{/if}}
              {{#if (eq costing "bicycle")}}
                <input type="radio" id="bicycle" name="options" checked {{action "setCosting" "bicycle"}}><label for="bicycle">bicycle</label><br>
              {{else}}
                <input type="radio" id="bicycle" name="options" {{action "setCosting" "bicycle"}}><label for="bicycle">bicycle</label><br>
              {{/if}}
              {{#if (eq costing "auto")}}
                <input type="radio" id="driving" name="options" checked {{action "setCosting" "auto"}}><label for="driving">driving</label><br>
              {{else}}
                <input type="radio" id="driving" name="options" {{action "setCosting" "auto"}}><label for="driving">driving</label><br>
              {{/if}}
              {{#if costing}}
                <button {{action "uploadGpx"}} id="submit">submit</button>
              {{/if}}
            </div>
          </div>
        {{/unless}}
      </form>
      <form>
        {{#if trace}}
          {{#if showMapMatch}}
            <div class="upload-options">
              <h5>Style matched route based on:</h5>
              {{#if (eq selectedAttribute "weighted_grade")}}
                <input type="radio" id="grade" name="options" checked {{action "styleByAttribute" "weighted_grade"}}><label for="style-attribute">grade</label><br>
              {{else}}
                <input type="radio" id="grade" name="options" {{action "styleByAttribute" "weighted_grade"}}><label for="style-attribute">grade</label><br>
              {{/if}}
              {{#if (eq selectedAttribute "speed")}}
                <input type="radio" id="speed" name="options" checked {{action "styleByAttribute" "speed"}}><label for="style-attribute">speed</label><br>
              {{else}}
                <input type="radio" id="speed" name="options" {{action "styleByAttribute" "speed"}}><label for="style-attribute">speed</label><br>
              {{/if}}
            </div>
             <button class="remove-mapmatch" {{action "setShowMapMatch" trace}}><i class="fa fa-times" aria-hidden="true"></i>Remove map-match from map</button>
          {{else}}
            <button class="run-mapmatch" {{action "setShowMapMatch" trace}}>See map-match for trace!</button>
          {{/if}}
        {{/if}}
        {{#if selectedSegment}}
          <table class="table">
            {{#each segmentAttributes as | segment |}}
              <tr>
                <th>{{segment.attribute}}</th><td>{{segment.value}}</td>
              </tr>
            {{/each}}
          </table>
        {{/if}}
      </form>
    </div>
  </div>
</div>
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="row">
    {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
    <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
    {{#if media.isMobile}}
      <button type="button" class="collapsed collapse-tab" data-toggle="collapse" data-target="#sidebar">&#8597;</button>
    {{/if}}            
    <div class="location-search">
      <div class="row">
        <div class="col-md-2 ember-basic-dropdown-trigger-icon">
          {{#if pin}}
            <img src='assets/images/pin_x1.png' class="markerIcon-x" {{action "removePin"}}/>
          {{else}}
            <img src='assets/images/marker1.png' class="markerIcon"/>
          {{/if}}
        </div>
        {{#power-select
          search=(action "searchRepo")
          selected=place
          placeholder=searchbarContent              
          onchange=(action "setPlace")
          onclose=(action "clearPlace")
          as |repo|
        }}
          {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
        {{/power-select}}
        </div>
      </div>
      <div class="nonmobile-intro-textbox">
        {{#unless media.isMobile}}
          {{#unless textboxIsClosed}}
            {{text-box route="index" action="setTextBoxClosed"}}
          {{/unless}}
        {{/unless}}
      </div>
      {{#if this.model.gpxTrace}}
        {{#leaflet-map bounds=this.model.gpxTrace.bounds onMoveend=(action "updatebbox") onClick=(action "dropPin")}}
          {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" attribution=attribution}}
          {{#if pin}}
            {{#marker-layer location=pinLocation icon=icon draggable=true riseOnHover=true riseOffset=1000}}
            {{/marker-layer}}
          {{/if}}
          {{#if trace}}
            {{#polyline-layer locations=model.gpxTrace.coordinates weight=5 clickable=false color="#444444" opacity=1 dashArray="5, 8"}}
            {{/polyline-layer}}
            {{#polyline-layer locations=model.gpxTrace.coordinates weight=3 clickable=false color="#6ea0a4" opacity=1 dashArray="5, 8"}}
            {{/polyline-layer}}
            {{#if showMapMatch}}
              {{#unless selectedAttribute}}
                  {{#polyline-layer locations=model.mapMatchRequests.decodedPolyline weight=7 clickable=false color="#444444" opacity=1}}
                {{/polyline-layer}}
                {{#polyline-layer locations=model.mapMatchRequests.decodedPolyline weight=4 clickable=false color="#ffffff" opacity=1}}
                {{/polyline-layer}}
              {{/unless}}
            {{/if}}
          {{/if}}
          {{#if selectedAttribute}}
            {{#each traceAttributeSegments as |segment|}}
              {{#polyline-layer locations=segment.coordinates color="#444444" weight=7 opacity=1}}
              {{/polyline-layer}}
            {{/each}}
            {{#each traceAttributeSegments as |segment|}}
              {{#polyline-layer locations=segment.coordinates color=segment.color weight=4 opacity=1 onMouseover=(action "selectSegment" segment)  onMouseout=(action "unselectSegment" segment) onClick=(action "setSegment" segment)}}
                {{segmentPopupContent}}
              {{/polyline-layer}}
            {{/each}}
          {{/if}}
          {{#if trace}}
            {{#marker-layer location=model.gpxTrace.startLocation draggable=false  clickable=false riseOnHover=false riseOffset=1000 icon=(div-icon html=html className='svg-start')}}
            {{/marker-layer}}
          {{/if}}
          {{#if trace}}
            {{#marker-layer location=model.gpxTrace.endLocation draggable=false clickable=false riseOnHover=false riseOffset=1000 icon=(div-icon html=html className='svg-end')}}
            {{/marker-layer}}
          {{/if}}
        {{/leaflet-map}}
      {{else}}
        {{#leaflet-map bounds=leafletBounds onMoveend=(action "updatebbox") onClick=(action "dropPin")}}
          {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" attribution=attribution}}
        {{/leaflet-map}}
      {{/if}}
    </div>
  </div>
</div>