{{#if activeIndexRoute}}
  <h2>Mobility Explorer</h2>
{{else}}
  {{#link-to 'index'}}<h2>Mobility Explorer</h2>{{/link-to}}
{{/if}}

<h3>{{bBox}}</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="toc" role="directory">
        <ul class="nav toc-nav">
          {{#if activeRoutesRoute}}
             <li class="toc-top-level toc-current">
                <a href="#" class="toc-subnav-toggle">Routes</a>
                <ul class="toc-subnav toc-expand">
                  <li><a href="#">
                    <form>
                      <div class="form-group">
                        <input type="radio" id="radio-1" name="options">
                        <label for="radio-1">Mode</label>
                      </div>
                      <div class="form-group">
                         <input type="radio" id="radio-2" name="options">
                        <label for="radio-2">Operator</label>
                      </div>
                      <div class="form-group">
                        <input type="radio" id="radio-3" name="options">
                        <label for="radio-3">Bike</label>
                      </div>
                      <div class="form-group">
                        <input type="radio" id="radio-4" name="options">
                        <label for="radio-4">Wheelchair</label>
                      </div>
                      <div class="form-group">
                        <input type="radio" id="radio-5" name="options">
                        <label for="radio-5">Frequency</label>
                      </div>
                    </form>
                  </a></li>
                </ul>
              </li>
            {{else}}
              <li class="toc-top-level">
                {{#link-to 'routes' (query-params bBox=bBox)}}<span>Routes</span>{{/link-to}}
              </li>
            {{/if}}

            {{#if activeStopsRoute}}
              <li class="toc-top-level toc-current">
                <a href="#" class="toc-subnav-toggle">Stops</a>
                <ul class="toc-subnav toc-expand">
                  <li><a href="#">
                    <form>
                      <div class="form-group">
                        <input type="radio" id="radio-1" name="options">
                        <label for="radio-1">Frequency</label>
                      </div>
                      <div class="form-group">
                        <input type="radio" id="radio-2" name="options">
                        <label for="radio-2">Walkshed</label>
                      </div>
                      <div class="form-group">
                        <input type="radio" id="radio-3" name="options">
                        <label for="radio-3">Transitshed</label>
                      </div>
                    </form>
                  </a></li>
                </ul>
              </li>
            {{else}}
              <li class="toc-top-level">
                {{#link-to 'stops' (query-params bBox=bBox)}}<span>Stops</span>{{/link-to}}
              </li>
            {{/if}}
 
            {{#if activeOperatorsRoute}}
              <li class="toc-top-level toc-current">
                <a href="#" class="toc-subnav-toggle">Operators</a>
                <ul class="toc-subnav toc-expand">
                  <li><a href="#">
                    <form>
                      <div class="form-group">
                        <input type="radio" id="radio-1" name="options">
                        <label for="radio-1">View service areas</label>
                      </div>
                      <div class="form-group">
                        <input type="radio" id="radio-2" name="options">
                        <label for="radio-2">View routes</label>
                      </div>
                    </form>
                  </a></li>
                </ul>
              </li>
            {{else}}
              <li class="toc-top-level">
                {{#link-to 'operators' (query-params bBox=bBox)}}<span>Operators</span>{{/link-to}}
              </li>
            {{/if}}

        </ul>
      </div>
    </div>
  </div>
</div>













