{{#if media.isMobile}}
	<div class="col-xs-12 col-sm-12 col-md-12 linebreak-text">
    <div class="row">
      <div id="sidebar" class="collapse in">
				{{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
				{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
				{{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null)}}<button class="btn btn-mapzen-alt">Stops</button>{{/link-to}}
			    <div class="expanded-selection">
						{{#if onestop_id}}
					  	{{#stop-detail stop=selectedStop bbox=bbox onestop_id=onestop_id stops=model.stops}}{{/stop-detail}}
					  	<p>{{#link-to 'routes' (query-params serves=onestop_id bbox=bbox onestop_id=null served_by=null operated_by=null style_routes_by=null) }}View routes serving this stop{{/link-to}}</p>
					  	<form>
								<div class="isochrone-detail">
						  		<div class="form-group-header">View distance you can travel from this stop via:</div>
								  <div class="form-group">
								  	{{#if pedestrianIsochrone}}
								  		<input type="radio" id="radio-1" name="options" checked {{action "setIsochroneMode" "pedestrian"}}>
							  		{{else}}
							  			<input type="radio" id="radio-1" name="options" {{action "setIsochroneMode" "pedestrian"}}>
							  		{{/if}}
								    <label for="radio-1">walking</label><br>
							  		{{#if pedestrianIsochrone}}
							  			<div class="isochrone-legend-box">
							  				<div class="isochrone-legend" style="color:#50bf40;">15 min walk from stop</div>
							  				<div class="isochrone-legend" style="color:#9fbf40;">30 min walk from stop</div>
							  				<div class="isochrone-legend" style="color:#bf8f40;">45 min walk from stop</div>
							  				<div class="isochrone-legend" style="color:#bf4040;">60 min walk from stop</div>
							  			</div>
							  		{{/if}}
							  		{{#if bicycleIsochrone}}
							  			<input type="radio" id="radio-2" name="options" checked {{action "setIsochroneMode" "bicycle"}}>
							  		{{else}}
							  			<input type="radio" id="radio-2" name="options" {{action "setIsochroneMode" "bicycle"}}>
							  		{{/if}}
								    <label for="radio-2">biking</label><br>
							  		{{#if bicycleIsochrone}}
							  			<div class="isochrone-legend-box">
							  				<div class="isochrone-legend" style="color:#50bf40;">15 min ride from stop</div>
							  				<div class="isochrone-legend" style="color:#9fbf40;">30 min ride from stop</div>
							  				<div class="isochrone-legend" style="color:#bf8f40;">45 min ride from stop</div>
							  				<div class="isochrone-legend" style="color:#bf4040;">60 min ride from stop</div>
							  			</div>
							  		{{/if}}
							  		{{#if multimodalIsochrone}}
							  			<input type="radio" id="radio-4" name="options" checked {{action "setIsochroneMode" "multimodal"}}>
							  		{{else}}
							  			<input type="radio" id="radio-4" name="options" {{action "setIsochroneMode" "multimodal"}}>
							  		{{/if}}
								    <label for="radio-4">transit</label><br>
							  		{{#if multimodalIsochrone}}
							  			<div class="isochrone-legend-box">
							  				<div class="isochrone-legend" style="color:#50bf40;">15 min trip from stop</div>
							  				<div class="isochrone-legend" style="color:#9fbf40;">30 min trip from stop</div>
							  				<div class="isochrone-legend" style="color:#bf8f40;">45 min trip from stop</div>
							  				<div class="isochrone-legend" style="color:#bf4040;">60 min trip from stop</div>
							  			</div>
							  		{{/if}}
							  		{{#if autoIsochrone}}
							  			<input type="radio" id="radio-3" name="options" checked {{action "setIsochroneMode" "auto"}}>
							  		{{else}}
							  			<input type="radio" id="radio-3" name="options" {{action "setIsochroneMode" "auto"}}>
							  		{{/if}}
								    <label for="radio-3">driving</label>
							  		{{#if autoIsochrone}}
							  			<div class="isochrone-legend-box">
							  				<div class="isochrone-legend" style="color:#50bf40;">15 min drive from stop</div>
							  				<div class="isochrone-legend" style="color:#9fbf40;">30 min drive from stop</div>
							  				<div class="isochrone-legend" style="color:#bf8f40;">45 min drive from stop</div>
							  				<div class="isochrone-legend" style="color:#bf4040;">60 min drive from stop</div>
							  			</div>
							  		{{/if}}
								  </div>
								  <p class="caption">departure at:</p>
				  				<div class="datetime-picker">
						  			{{bs-datetimepicker date=moment isTime=true sideBySide=true}}
						  		</div>
								</div>
							</form>
						{{else if served_by}}
							<form>
							  <div class="form-group-header">Stops served by:</div>
							  <div class="form-group">
							    <label for="radio-1">{{served_by}}</label>
							  </div>
							</form>
						{{/if}}
						{{#if onestop_id}}
						{{else if hoverStop}}
							<div class="hover-detail">
								<div {{action "setOnestopId" selectedStop}}>{{hoverStop.name}}</div>
								<p class="caption">Click the stop for more information</p>
							</div>
						{{else}}
				    	<p class="caption">Hover over a stop for information</p>
				    	{{#if mapMoved}}
			    			<button class="btn btn-mapzen" {{action "updatebbox"}}>Redo search in map area</button>
			  			{{/if}}
						{{/if}}
					</div>
			  {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}


				{{url-builder entity="stops" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id served_by=served_by}}
				
				{{#if isochrone_mode}}{{#if onestop_id}}<br><div>{{url-builder url=model.url server="Valhalla" query="isochrones" entity="isochrones" queryParams=queryParams bbox=bbox}}</div>{{/if}}{{/if}}
			</div>
      <button type="button" class="collapse-tab" data-toggle="collapse" data-target="#sidebar">&#8597;</button>
		  {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
		  <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
		  	<div class="location-search">
			    {{#power-select
			      search=(action "searchRepo")
			      selected=place
		        renderInPlace=true
			      placeholder="Search for location..."
			      onchange=(action "setPlace")
		        onclose=(action "clearPlace")
			      as |repo|
			    }}
			      {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
			    {{/power-select}}
			  </div>

			  {{#leaflet-map bounds=leafletBbox onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved")}}
					{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
					{{#if served_by}}
						{{#each model.servedByRoute.features as |route|}}
							{{#geojson-layer geoJSON=route color="#6ea0a4" opacity=1 weight=2}}
							{{/geojson-layer}}
						{{/each}}
					{{/if}}
					{{#if onestop_id}}
						{{#each model.stops as |stop|}}
						  		{{#marker-layer location=stop.location icon=(div-icon html=stop.html className=stop.icon_class iconSize=stop.icon_size) draggable=false clickable=false riseOnHover=true riseOffset=1000 onMouseover=(action "selectStop" stop) onMouseout=(action "unselectStop" stop) onClick=(action "setOnestopId" stop)}}
						  		{{/marker-layer}}
					  {{/each}}
					{{else}}
						{{#each model.stops as |stop|}}
						  		{{#marker-layer location=stop.location icon=(div-icon html=stop.html className=stop.icon_class iconSize=stop.icon_size) draggable=false clickable=true riseOnHover=true riseOffset=1000 onMouseover=(action "selectStop" stop) onMouseout=(action "unselectStop" stop) onClick=(action "setOnestopId" stop)}}
						  		{{/marker-layer}}
					  {{/each}}
					{{/if}}
				  {{#if isochrone_mode}}
				  	{{#if onestop_id}}
						  {{#each model.isochrones.features as |isochrone|}}
						  	{{#geojson-layer geoJSON=isochrone fillColor=isochrone.properties.fill  stroke=false weight=1 fillOpacity=isochrone.properties.fill-opacity}}
						  	{{/geojson-layer}}
					  	{{/each}}
					  {{/if}}
				  {{/if}}
				{{/leaflet-map}}
			</div>
		</div>
	</div>
{{else}}
	<div class="col-xs-12 col-sm-12 col-md-3 linebreak-text">
		{{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
		{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
		{{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null)}}<button class="btn btn-mapzen-alt">Stops</button>{{/link-to}}
	    <div class="expanded-selection">
				{{#if onestop_id}}
			  	{{#stop-detail stop=selectedStop bbox=bbox onestop_id=onestop_id stops=model.stops}}{{/stop-detail}}
			  	<p>{{#link-to 'routes' (query-params serves=onestop_id bbox=bbox onestop_id=null served_by=null operated_by=null style_routes_by=null) }}View routes serving this stop{{/link-to}}</p>
			  	
			  	<form>
					<div class="isochrone-detail">
			  		<div class="form-group-header">View distance you can travel from this stop via:</div>
					  <div class="form-group">
					  	{{#if pedestrianIsochrone}}
					  		<input type="radio" id="radio-1" name="options" checked {{action "setIsochroneMode" "pedestrian"}}>
				  		{{else}}
				  			<input type="radio" id="radio-1" name="options" {{action "setIsochroneMode" "pedestrian"}}>
				  		{{/if}}
					    <label for="radio-1">walking</label><br>
				  		{{#if pedestrianIsochrone}}
				  			<div class="isochrone-legend-box">
				  				<div class="isochrone-legend" style="color:#50bf40;">15 min walk from stop</div>
				  				<div class="isochrone-legend" style="color:#9fbf40;">30 min walk from stop</div>
				  				<div class="isochrone-legend" style="color:#bf8f40;">45 min walk from stop</div>
				  				<div class="isochrone-legend" style="color:#bf4040;">60 min walk from stop</div>
				  			</div>
				  		{{/if}}
				  		{{#if bicycleIsochrone}}
				  			<input type="radio" id="radio-2" name="options" checked {{action "setIsochroneMode" "bicycle"}}>
				  		{{else}}
				  			<input type="radio" id="radio-2" name="options" {{action "setIsochroneMode" "bicycle"}}>
				  		{{/if}}
					    <label for="radio-2">biking</label><br>
				  		{{#if bicycleIsochrone}}
				  			<div class="isochrone-legend-box">
				  				<div class="isochrone-legend" style="color:#50bf40;">15 min ride from stop</div>
				  				<div class="isochrone-legend" style="color:#9fbf40;">30 min ride from stop</div>
				  				<div class="isochrone-legend" style="color:#bf8f40;">45 min ride from stop</div>
				  				<div class="isochrone-legend" style="color:#bf4040;">60 min ride from stop</div>
				  			</div>
				  		{{/if}}
				  		
				  		{{#if autoIsochrone}}
				  			<input type="radio" id="radio-4" name="options" checked {{action "setIsochroneMode" "auto"}}>
				  		{{else}}
				  			<input type="radio" id="radio-4" name="options" {{action "setIsochroneMode" "auto"}}>
				  		{{/if}}
					    <label for="radio-4">driving</label><br>
				  		{{#if autoIsochrone}}
				  			<div class="isochrone-legend-box">
				  				<div class="isochrone-legend" style="color:#50bf40;">15 min drive from stop</div>
				  				<div class="isochrone-legend" style="color:#9fbf40;">30 min drive from stop</div>
				  				<div class="isochrone-legend" style="color:#bf8f40;">45 min drive from stop</div>
				  				<div class="isochrone-legend" style="color:#bf4040;">60 min drive from stop</div>
				  			</div>
				  		{{/if}}
				  		{{#if multimodalIsochrone}}
				  			<input type="radio" id="radio-3" name="options" checked {{action "setIsochroneMode" "multimodal"}}>
				  		{{else}}
				  			<input type="radio" id="radio-3" name="options" {{action "setIsochroneMode" "multimodal"}}>
				  		{{/if}}
					    <label for="radio-3">transit</label>
				  		{{#if multimodalIsochrone}}
				  			<div class="isochrone-legend-box">
				  				<div class="isochrone-legend" style="color:#50bf40;">15 min trip from stop</div>
				  				<div class="isochrone-legend" style="color:#9fbf40;">30 min trip from stop</div>
				  				<div class="isochrone-legend" style="color:#bf8f40;">45 min trip from stop</div>
				  				<div class="isochrone-legend" style="color:#bf4040;">60 min trip from stop</div>
				  			</div>
				  		{{/if}}
					  </div>
					  {{#if multimodalIsochrone}}
				  		<p class="caption">departure at:</p>
				  		<div class="datetime-picker">
				  			{{bs-datetimepicker date=moment isTime=true sideBySide=true showTodayButton=true change=(action 'change')}}
				  		</div>
				  	{{/if}}
					 	</div>
					</form>
				{{else if served_by}}
					<form>
					  <div class="form-group-header">Stops served by:</div>
					  <div class="form-group">
					    <label for="radio-1">{{served_by}}</label>
					  </div>
					</form>
				{{/if}}

				{{#if onestop_id}}
				{{else if hoverStop}}
					<div class="hover-detail">
						<div {{action "setOnestopId" selectedStop}}>{{hoverStop.name}}</div>
						<p class="caption">Click the stop for more information</p>
					</div>
				{{else}}
	    		<p class="caption">Hover over a stop for information</p>
	    		{{#if mapMoved}}
    				<button class="btn btn-mapzen" {{action "updatebbox"}}>Redo search in map area</button>
  				{{/if}}
				{{/if}}
			</div>
	  {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}


		{{url-builder entity="stops" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id served_by=served_by}}
		
		{{#if isochrone_mode}}{{#if onestop_id}}<br><div>{{url-builder url=model.url server="Valhalla" query="isochrones" entity="isochrones" queryParams=queryParams bbox=bbox}}</div>{{/if}}{{/if}}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9">
	  {{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
	  <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
	  	<div class="location-search">
		    {{#power-select
		      search=(action "searchRepo")
		      selected=place
	        renderInPlace=true
		      placeholder="Search for location..."
		      onchange=(action "setPlace")
	        onclose=(action "clearPlace")
		      as |repo|
		    }}
		      {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
		    {{/power-select}}
		  </div>

		  {{#leaflet-map bounds=leafletBbox onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved")}}
				{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
				{{#if served_by}}
					{{#each model.servedByRoute.features as |route|}}
						{{#geojson-layer geoJSON=route color="#6ea0a4" opacity=1 weight=2}}
						{{/geojson-layer}}
					{{/each}}
				{{/if}}
				{{#if onestop_id}}
					{{#each model.stops as |stop|}}
					  		{{#marker-layer location=stop.location icon=(div-icon html=stop.html className=stop.icon_class iconSize=stop.icon_size) draggable=false clickable=false riseOnHover=true riseOffset=1000 onMouseover=(action "selectStop" stop) onMouseout=(action "unselectStop" stop) onClick=(action "setOnestopId" stop)}}
					  		{{/marker-layer}}
				  {{/each}}
				{{else}}
					{{#each model.stops as |stop|}}
					  		{{#marker-layer location=stop.location icon=(div-icon html=stop.html className=stop.icon_class iconSize=stop.icon_size) draggable=false clickable=true riseOnHover=true riseOffset=1000 onMouseover=(action "selectStop" stop) onMouseout=(action "unselectStop" stop) onClick=(action "setOnestopId" stop)}}
					  		{{/marker-layer}}
				  {{/each}}
				{{/if}}
			  {{#if isochrone_mode}}
			  	{{#if onestop_id}}
					  {{#each model.isochrones.features as |isochrone|}}
					  	{{#geojson-layer geoJSON=isochrone fillColor=isochrone.properties.fill  stroke=false weight=1 fillOpacity=isochrone.properties.fill-opacity}}
					  	{{/geojson-layer}}
				  	{{/each}}
				  {{/if}}
			  {{/if}}
			{{/leaflet-map}}
		</div>
	</div>
{{/if}}