<div class="col-xs-12 col-sm-12 col-md-3 linebreak-text">
	{{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
	{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null style_routes_by=null)}}<button class="btn btn-transparent-alt">Routes</button>{{/link-to}}
	{{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null)}}<button class="btn btn-mapzen-alt">Stops</button>{{/link-to}}
    <div class="expanded-selection">
			{{#if onestop_id}}
		  	{{#stop-detail stop=selectedStop bbox=bbox onestop_id=onestop_id stops=model.stops}}{{/stop-detail}}
		  	<p>{{#link-to 'routes' (query-params serves=onestop_id bbox=bbox onestop_id=null served_by=null operated_by=null style_routes_by=null) }}View routes serving this stop{{/link-to}}</p>
		  	<form>
				  <div class="form-group">
				  	{{#if pedestrianIsochrone}}
				  		<input type="checkbox" id="check-1" name="option-one" checked {{action "setIsochroneMode" "pedestrian"}}>
			  		{{else}}
			  			<input type="checkbox" id="check-1" name="option-one" {{action "setIsochroneMode" "pedestrian"}}>
			  		{{/if}}
				    <label for="check-1">View stop walkshed</label>
			  		{{#if pedestrianIsochrone}}
			  				<div class="isochron-legend" style="color:#50bf40;">15 min walk from stop</div>
			  				<div class="isochron-legend" style="color:#9fbf40;">30 min walk from stop</div>
			  				<div class="isochron-legend" style="color:#bf8f40;">45 min walk from stop</div>
			  				<div class="isochron-legend" style="color:#bf4040;">60 min walk from stop</div>
			  		{{/if}}
			  		{{#if bicycleIsochrone}}
			  			<input type="checkbox" id="check-2" name="option-two" checked {{action "setIsochroneMode" "bicycle"}}>
			  		{{else}}
			  			<input type="checkbox" id="check-2" name="option-two" {{action "setIsochroneMode" "bicycle"}}>
			  		{{/if}}
				    <label for="check-2">View stop bikeshed</label>
			  		{{#if bicycleIsochrone}}
			  				<div class="isochron-legend" style="color:#50bf40;">15 min bike ride from stop</div>
			  				<div class="isochron-legend" style="color:#9fbf40;">30 min bike ride from stop</div>
			  				<div class="isochron-legend" style="color:#bf8f40;">45 min bike ride from stop</div>
			  				<div class="isochron-legend" style="color:#bf4040;">60 min bike ride from stop</div>
			  		{{/if}}
			  		{{#if autoIsochrone}}
			  			<input type="checkbox" id="check-3" name="option-three" checked {{action "setIsochroneMode" "auto"}}>
			  		{{else}}
			  			<input type="checkbox" id="check-3" name="option-three" {{action "setIsochroneMode" "auto"}}>
			  		{{/if}}
				    <label for="check-3">View stop driveshed</label>
			  		{{#if autoIsochrone}}
			  				<div class="isochron-legend" style="color:#50bf40;">15 min drive from stop</div>
			  				<div class="isochron-legend" style="color:#9fbf40;">30 min drive from stop</div>
			  				<div class="isochron-legend" style="color:#bf8f40;">45 min drive from stop</div>
			  				<div class="isochron-legend" style="color:#bf4040;">60 min drive from stop</div>
			  		{{/if}}

				  </div>
				</form>
			{{else}}
				{{#if served_by}}
					<form>
					  <div class="form-group-header">Stops served by:</div>
					  <div class="form-group">
					    <label>{{served_by}}</label>
					  </div>
					</form>
				{{/if}}
				<form>
				  <div class="form-group-header">Show isochrones for:</div>
				  <div class="form-group">
				  	{{#if isochrones_mode}}
				  	<input type="checkbox" id="check-1" name="option-two" checked {{action "setIsochronesMode"}}>
				  	{{else}}
				  	<input type="checkbox" id="check-1" name="option-two" unchecked {{action "setIsochronesMode"}}>
				  	{{/if}}
				    <label for="check-2">Walking</label>
				  </div>
				</form>
				{{/if}}
			{{#if onestop_id}}
			{{else if hoverStop}}
				<div class="hover-detail">
					<div {{action "setOnestopId" selectedStop}}>{{hoverStop.name}}</div>
					<p class="caption">Click the stop for more information</p>
				</div>
			{{else}}
	    		<p class="caption">Hover on a stop for information</p>
			{{/if}}
			{{#unless onestop_id}}
    	<button class="btn btn-mapzen" {{action "updatebbox"}}>Query</button>
  		{{/unless}}
		</div>
  {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}
</div>
<div class="col-xs-12 col-sm-12 col-md-9">
  <div id="map">
  	<div class="location-search">
	    {{#power-select
	      search=(action "searchRepo")
	      selected=place
        renderInPlace=true
	      placeholder="Search for location..."
	      onchange=(action "setPlace")
        onclose=(action "clearPlace")
	      as |repo|
	    }}
	      {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
	    {{/power-select}}
	  </div>


	  {{#leaflet-map bounds=leafletBbox onMoveend=(action "updateLeafletBbox")}}
			{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
			{{#each model.stops as |stop|}}
			  		{{#marker-layer location=stop.location icon=stop.stop_icon draggable=false riseOnHover=true riseOffset=1000 onMouseover=(action "selectStop" stop) onMouseout=(action "unselectStop" stop) onClick=(action "setOnestopId" stop)}}
			  		{{/marker-layer}}
		  {{/each}}
		  {{#if served_by}}
		  	{{#each model.route.features as |routeLine|}}
		  		{{#polyline-layer locations=routeLine.geometry.coordinates}}
					{{/polyline-layer}}
				{{/each}}
			{{/if}}
		  {{#if isochrone_mode}}
		  	{{#if onestop_id}}
				  {{#each model.isochrones.features as |isochrone|}}
				  	{{#geojson-layer geoJSON=isochrone fillColor=isochrone.properties.fill  stroke=false weight=1 fillOpacity=isochrone.properties.fill-opacity}}
				  	{{/geojson-layer}}
			  	{{/each}}
			  {{/if}}
		  {{/if}}
			{{#if isochrones_mode}}
				{{#each model.isochrones as |isochrone|}}
					{{#each isochrone.features as |feature|}}
				  	{{#geojson-layer geoJSON=feature fillColor=feature.properties.fill weight=1 color=feature.properties.fill fillOpacity=feature.properties.fill-opacity}}
				  	{{/geojson-layer}}
				  {{/each}}
				{{/each}}
		  {{/if}}
		{{/leaflet-map}}
	</div>
</div>








