<form>
	<div class="hover-detail">
		<div class="form-group-header">View distance you can travel from this stop via:</div>
		<p class="caption">adjust departure time</p>
	  <div class="form-group">
	  	{{#if pedestrianIsochrone}}
	  		<input type="radio" id="radio-1" name="options" checked {{action "setIsochroneMode" "pedestrian"}}>
			{{else}}
				<input type="radio" id="radio-1" name="options" {{action "setIsochroneMode" "pedestrian"}}>
			{{/if}}
	    <label for="radio-1">walking</label><br>
			{{#if pedestrianIsochrone}}
				<div class="isochrone-legend-box">
					<div class="isochrone-legend" style="color:#50bf40;">15 min walk from stop</div>
					<div class="isochrone-legend" style="color:#9fbf40;">30 min walk from stop</div>
					<div class="isochrone-legend" style="color:#bf8f40;">45 min walk from stop</div>
					<div class="isochrone-legend" style="color:#bf4040;">60 min walk from stop</div>
				</div>
			{{/if}}
			{{#if bicycleIsochrone}}
				<input type="radio" id="radio-2" name="options" checked {{action "setIsochroneMode" "bicycle"}}>
			{{else}}
				<input type="radio" id="radio-2" name="options" {{action "setIsochroneMode" "bicycle"}}>
			{{/if}}
	    <label for="radio-2">biking</label><br>
			{{#if bicycleIsochrone}}
				<div class="isochrone-legend-box">
					<div class="isochrone-legend" style="color:#50bf40;">15 min ride from stop</div>
					<div class="isochrone-legend" style="color:#9fbf40;">30 min ride from stop</div>
					<div class="isochrone-legend" style="color:#bf8f40;">45 min ride from stop</div>
					<div class="isochrone-legend" style="color:#bf4040;">60 min ride from stop</div>
				</div>
			{{/if}}
			{{#if multimodalIsochrone}}
				<input type="radio" id="radio-4" name="options" checked {{action "setIsochroneMode" "multimodal"}}>
			{{else}}
				<input type="radio" id="radio-4" name="options" {{action "setIsochroneMode" "multimodal"}}>
			{{/if}}
	    <label for="radio-4">transit</label><br>
			{{#if multimodalIsochrone}}
				<div class="isochrone-legend-box">
					<div class="isochrone-legend" style="color:#50bf40;">15 min trip from stop</div>
					<div class="isochrone-legend" style="color:#9fbf40;">30 min trip from stop</div>
					<div class="isochrone-legend" style="color:#bf8f40;">45 min trip from stop</div>
					<div class="isochrone-legend" style="color:#bf4040;">60 min trip from stop</div>
				</div>
			{{/if}}
			{{#if autoIsochrone}}
				<input type="radio" id="radio-3" name="options" checked {{action "setIsochroneMode" "auto"}}>
			{{else}}
				<input type="radio" id="radio-3" name="options" {{action "setIsochroneMode" "auto"}}>
			{{/if}}
	    <label for="radio-3">driving</label>
			{{#if autoIsochrone}}
				<div class="isochrone-legend-box">
					<div class="isochrone-legend" style="color:#50bf40;">15 min drive from stop</div>
					<div class="isochrone-legend" style="color:#9fbf40;">30 min drive from stop</div>
					<div class="isochrone-legend" style="color:#bf8f40;">45 min drive from stop</div>
					<div class="isochrone-legend" style="color:#bf4040;">60 min drive from stop</div>
				</div>
			{{/if}}
	  </div>
		<div class="form-group-header">Departing at:</div>
			{{bs-datetimepicker date=date}}
	</div>
</form>