{{#link-to 'index' (query-params bbox=bbox)}}<h2>Mobility Explorer</h2>{{/link-to}}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="toc" role="directory">
        <ul class="nav toc-nav">
            <li class="toc-top-level">
                <li class="toc-top-level toc-current">
							    {{#link-to 'routes' (query-params bbox=bbox onestop_id='null' served_by='null')}}<div class="toc-subnav-toggle">Routes</div>{{/link-to}}
							    <ul class="toc-subnav toc-expand">
							      <li><a href="#">
							        <form>
							          <div class="form-group">
							            <input type="radio" id="radio-1" name="options">
							            <label for="radio-1">Mode</label>
							          </div>
							          <div class="form-group">
							            <input type="radio" id="radio-2" name="options">
							            <label for="radio-2">Operator</label>
							          </div>
							          <div class="form-group">
							            <input type="radio" id="radio-3" name="options">
							            <label for="radio-3">Bike</label>
							          </div>
							          <div class="form-group">
							            <input type="radio" id="radio-4" name="options">
							            <label for="radio-4">Wheelchair</label>
							          </div>
							          <div class="form-group">
							            <input type="radio" id="radio-5" name="options">
							            <label for="radio-5">Frequency</label>
							          </div>
							        </form>
							      </a></li>
							    </ul>
							  </li>
            </li>
            <li class="toc-top-level">
              {{#link-to 'stops' (query-params bbox=bbox onestop_id='null' served_by='null')}}<span>Stops</span>{{/link-to}}
            </li>
            <li class="toc-top-level">
              {{#link-to 'operators' (query-params bbox=bbox onestop_id='null')}}<span>Operators</span>{{/link-to}}
            </li>
        </ul>
      </div>
      <div class="route-style-options">
     		<button class="btn btn-mapzen-alt" {{action "styleRoutesMode"}}>Color routes by mode</button>
    		<button class="btn btn-mapzen-alt" {{action "styleRoutesOperator"}}>Color routes by operator</button>
    		<!-- {{#link-to 'routes.mode'}}<button class="btn btn-mapzen-alt">Color routes by mode</button>{{/link-to}}
    		{{#link-to 'routes.operator'}}<button class="btn btn-mapzen-alt">Color routes by operator</button>{{/link-to}} -->
  		</div>


      {{#if onestop_id}}
      	{{#route-detail bbox=bbox onestop_id=onestop_id route=selectedRoute}}{{/route-detail}}
      	<br>
				<p>{{#link-to 'stops' (query-params bbox=bbox onestop_id='null' served_by=onestop_id) }}View stops served by route{{/link-to}}</p>
    	{{else}}
	      {{#power-select
		      options=routes
		      selected=route
  				placeholder="Search for route"
  				searchPlaceholder="Type to filter..."
		      onchange=(action "setRoute")
		      as |route|
		    }}
		      {{route.name}} {{route.tags.route_long_name}}
		    {{/power-select}}
    	{{/if}}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div id="map">
				{{#leaflet-map bounds=bounds bbox=bbox onLoad=(action "setbbox") onMoveend=(action "updatebbox")}}
					{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
    				{{#if routeStyleIsMode}}
							{{#each model as |route|}}
							  {{#polyline-layer locations=route.location color=route.vehicle_type_color weight=route.route_path_weight opacity=route.oute_path_opacity onMouseover=(action "selectRoute" route) onMouseout=(action "unselectRoute" route) onClick=(action "setOnestopId" route)}}
								{{/polyline-layer}}
							{{/each}}
						{{else if routeStyleIsOperator}}
							{{#each model as |route|}}
							  {{#polyline-layer locations=route.location color=route.operator_color weight=route.route_path_weight opacity=route.route_path_opacity onMouseover=(action "selectRoute" route) onMouseout=(action "unselectRoute" route) onClick=(action "setOnestopId" route)}}
								{{/polyline-layer}}
							{{/each}}
						{{else}}
							{{#each model as |route|}}
							  {{#polyline-layer locations=route.location weight=route.route_path_weight opacity=route.route_path_opacity onMouseover=(action "selectRoute" route) onMouseout=(action "unselectRoute" route) onClick=(action "setOnestopId" route)}}
								{{/polyline-layer}}
							{{/each}}
						{{/if}}
				{{/leaflet-map}}
			</div>
		</div>
  </div>
</div>