<div class="col-xs-12 col-sm-12 col-md-3 linebreak-text">
	{{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type=null)}}<h2>Mobility Explorer</h2>{{/link-to}}
  
  {{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type=null style_routes_by=null)}}<button class="btn btn-mapzen-alt">Routes</button>{{/link-to}}
  
  <div class="expanded-selection">
  	{{#if onestop_id}}
			{{#if selectedRoute}}
	  		{{#route-detail type="route" bbox=bbox onestop_id=onestop_id route=selectedRoute}}{{/route-detail}}
  		{{else}}
	  		{{#route-detail type="route" bbox=bbox onestop_id=onestop_id route=onlyRoute}}{{/route-detail}}
  		{{/if}}
			<br>

			<div class="form-group">
		  	{{#if displayStops}}<input type="checkbox" id="check-1" name="option-one" checked {{action "displayStops"}}>
		  	{{else}}<input type="checkbox" id="check-1" name="option-one" {{action "displayStops"}}>{{/if}}
		    <label for="check-1">Show stops served by route</label>
		  </div>
		  
		  {{#link-to 'route-stop-patterns' (query-params bbox=bbox traversed_by=onestop_id onestop_id=null operated_by=null serves=null served_by=onestop_id vehicle_type=null isochrone_mode=null)  }}Show route stop patterns{{/link-to}}
	  
		{{else if operated_by}}
			<form>
				<strong>Operated by:</strong> {{operated_by}}<br>

			  <div class="form-group-header">Style routes by:</div>
			  <div class="form-group">
			  	{{#if routeStyleIsMode}}<input type="checkbox" id="check-1" name="option-one" checked>
			  	{{else}}<input type="checkbox" id="check-1" name="option-one">{{/if}}
			    <label for="check-1">Mode</label>
			  </div>
			</form>
		{{else}}
			<form>
			  <div class="form-group-header">Style routes by:</div>
			  <div class="form-group" {{action "setRouteStyle" "mode"}}>
			  	{{#if routeStyleIsMode}}<input type="checkbox" id="check-1" name="option-one" checked>
			  	{{else}}<input type="checkbox" id="check-1" name="option-one">{{/if}}
			    <label for="check-1">Mode</label>
			  </div>
			  <div class="form-group" {{action "setRouteStyle" "operator"}}>
			    {{#if routeStyleIsOperator}}<input type="checkbox" id="check-2" name="option-two" checked>
			    {{else}}<input type="checkbox" id="check-2" name="option-two">{{/if}}
			    <label for="check-2">Operator</label>
			  </div>
			</form>
	    {{#power-select
	      options=routes
	      selected=route
				placeholder="List of routes"
				searchPlaceholder="Type to filter..."
	      onchange=(action "setRoute")
        onclose=(action "clearPlace")
	      as |route|
	    }}
	      {{route.name}} {{route.tags.route_long_name}}
	    {{/power-select}}

			
		{{/if}}
		
		{{#if routeStyleIsMode}}
			{{#unless selectedRoute}}
				<p class="caption">Select mode:</p>
				{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type='bus')}}<p style="color:red;">Bus</p>{{/link-to}}
				{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type='rail')}}<p style="color:blue;">Rail</p>{{/link-to}}
				{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type='metro')}}<p style="color:green;">Metro</p>{{/link-to}}
				{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type='tram')}}<p style="color:aqua;">Tram</p>{{/link-to}}
				{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type='ferry')}}<p style="color:purple;">Ferry</p>{{/link-to}}
				{{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type='cablecar')}}<p style="color:orange;">Cablecar</p>{{/link-to}}
				<p style="color:grey;">Other</p>
			{{/unless}}
		{{/if}}
		{{#if routeStyleIsOperator}}
			Operator Key coming soon
		{{/if}}

		{{#if selectedRoute}}
		{{else if onlyRoute}}
		{{else if hoverRoute}}
			<div class="hover-detail">
				{{hoverRoute.name}}<br>
				{{#if hoverRoute.operated_by_name}}{{hoverRoute.operated_by_name}}<br>{{/if}}
				<p class="caption">Click the route line for more information</p>
			</div>
		{{else}}
			<p class="caption">Hover on the route line for information</p>
			{{#if mapMoved}}
    		<button class="btn btn-mapzen" {{action "updatebbox"}}>Redo search in map area</button>
  		{{/if}}
		{{/if}}
	</div>
  {{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Stops</button>{{/link-to}}
  {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null vehicle_type=null)}}<button class="btn btn-transparent-alt">Operators</button>{{/link-to}}  
  {{url-builder entity="routes" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id serves=serves operated_by=operated_by vehicle_type=vehicle_type}}
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
	<div id="map">
		<div class="location-search">
	    {{#power-select
	      search=(action "searchRepo")
        renderInPlace=true
	      selected=place
	      placeholder="Search for location..."
	      onchange=(action "setPlace")
	      as |repo|
	    }}
	      {{repo.properties.name}}, {{repo.properties.region}}, {{repo.properties.country}}
	    {{/power-select}}
	  </div>
		{{#leaflet-map bounds=leafletBbox onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved")}}
			{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
				{{#if routeStyleIsMode}}
					{{#each model.routes.geometry.coordinates as |route|}}
					  {{#polyline-layer locations=route.location color=route.vehicle_type_color weight=route.route_path_weight opacity=route.route_path_opacity riseOnHover=true onMouseover=(action "selectRoute") onMouseout=(action "unselectRoute") onClick=(action "setOnestopId" route)}}
						{{/polyline-layer}}
					{{/each}}
				{{else if routeStyleIsOperator}}
					{{#each model.routes.geometry.coordinates as |route|}}
					  {{#polyline-layer locations=route.location color=route.operator_color weight=route.route_path_weight opacity=route.route_path_opacity riseOnHover=true onMouseover=(action "selectRoute") onMouseout=(action "unselectRoute") onClick=(action "setOnestopId" route)}}
						{{/polyline-layer}}
					{{/each}}
				{{else}}
					{{#each model.routes.geometry.coordinates as |route|}}
					  {{#polyline-layer locations=route.location color=route.default_color weight=route.route_path_weight opacity=route.route_path_opacity onMouseover=(action "selectUnstyledRoute") onMouseout=(action "unselectUnstyledRoute") onClick=(action "setOnestopId" route)}}
						{{/polyline-layer}}
					{{/each}}
				{{/if}}
				{{#if displayStops}}
					{{#each model.stops.features as |stop|}}
			  		{{#marker-layer location=stop.geometry.coordinates icon=stop.icon draggable=false riseOnHover=true riseOffset=1000}}
			  		{{/marker-layer}}
		  		{{/each}}
		  	{{/if}}
		{{/leaflet-map}}
	</div>
</div>