<div id="sidebar" class="collapse in col-md-4">
  <div class="col-xs-12 no-padding center">
    <a href="https://mapzen.com/"><div class="mapzen-logo"></div></a>
  </div>
  <div class="col-xs-12 no-padding">
    {{#link-to 'index' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null serves=null isochrone_mode=null pin=pin)}}<h1>Mobility Explorer</h1>{{/link-to}}
  </div>
  {{#if media.isMobile}}
		{{#unless textboxIsClosed}}
	    {{text-box route="index" action="setTextBoxClosed"}}
	  {{/unless}}
	{{/if}}
  {{sidebar-title-transitland}}
	<div class="btn-group-vertical" role="group" >

	  {{#link-to 'routes' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null pin=pin serves=null vehicle_type=null style_routes_by=null)}}<button class="btn btn-mapzen-alt">Show Routes</button>{{/link-to}}

	  <div class="expanded-selection">
	  	{{#if onestop_id}}
				{{#if selectedRoute}}
		  		{{#route-detail type="route" bbox=bbox onestop_id=onestop_id route=selectedRoute}}{{/route-detail}}
	  		{{else}}
		  		{{#route-detail type="route" bbox=bbox onestop_id=onestop_id route=onlyRoute}}{{/route-detail}}
	  		{{/if}}
				<br>
				<div class="form-group">
			  	{{#if displayStops}}<input type="checkbox" id="check-1" name="option-one" checked {{action "setDisplayStops"}}>
			  	{{else}}<input type="checkbox" id="check-1" name="option-one" {{action "setDisplayStops"}}>{{/if}}
			    <label for="check-1">Show stops served by route</label>

				  <row class="subheading-row">
					  <div class="form-group-header sidebar-header col-md-10">{{#link-to 'route-stop-patterns' (query-params bbox=bbox traversed_by=onestop_id onestop_id=null operated_by=null serves=null served_by=onestop_id vehicle_type=null pin=pin isochrone_mode=null)}}Show route stop patterns{{/link-to}}&nbsp;<div class="fa fa-question-circle"></div>{{#popover-on-element class="tooltip-on-sidebar" event="click"}}View the unique combinations of shape lines for trips and stops along this route.{{/popover-on-element}}</div>
					</row>
			  </div>

			{{else if operated_by}}
				{{#power-select
		      options=routes
		      selected=route
					placeholder=placeholderMessageRoutes
					searchPlaceholder="Type to filter..."
		      onchange=(action "setOnestopId")
	        onclose=(action "clearRoute")
		      as |route|
		    }}
		      {{route.name}} {{route.tags.route_long_name}}
		    {{/power-select}}
		    {{#unless hoverRoute}}
	  			<p class="caption">{{routeSelectContent}}</p>
	  			<div class="routes-form">
						<form>
							<strong>Operated by:</strong> {{operated_by}}<br>
						  <row class="subheading-row">
								<div class="form-group-header sidebar-header col-md-10">Style routes by:
								&nbsp;<div class="fa fa-question-circle" id="fa-question-circle-detail"></div></div>
								{{#popover-on-element class="tooltip-on-sidebar" event="click"}}View route lines and display them by the route's transit mode or operator. Click a route on the map or in the list for its details.{{/popover-on-element}}
							</row>
						  <div class="form-group">
						  	{{#if (eq style_routes_by "mode")}}<input type="radio" id="radio-1" name="option-one" checked {{action "setRouteStyle" "mode"}}>
						  	{{else}}<input type="radio" id="radio-1" name="option-one" {{action "setRouteStyle" "mode"}}>{{/if}}
						    <label for="radio-1">Mode</label>
						    <div class="sidebar-dropdown">
						    {{#if (eq style_routes_by "mode")}}
						    	{{#unless vehicle_type}}
								    {{#power-select
								    	options=routeModes
								      selected=mode
											placeholder=placeholderMessageModes
											searchPlaceholder="Type to filter..."
								      onchange=(action "setMode")
							        onclose=(action "clearMode")
								      as |mode|
								    }}
									    <div style={{mode.style}}>{{mode.name}}</div>
									  {{/power-select}}
									{{/unless}}
						  	{{/if}}
							</div>
						</div>
					</form>
				</div>
		  {{/unless}}
			{{#each model.routes as |route|}}
				{{#if (eq hoverRoute route.onestop_id)}}
					<div class="hover-detail">
						Route name: {{route.name}}<br>
						Operated by: {{route.operated_by_name}}<br>
						<p class="caption">Click the route line for more details</p>
					</div>
		  	{{/if}}
	  	{{/each}}
		{{else}}
			{{#power-select
	      options=routes
	      selected=route
				placeholder=placeholderMessageRoutes
				searchPlaceholder="Type to filter..."
	      onchange=(action "setOnestopId")
        onclose=(action "clearRoute")
	      as |route|
	    }}
	      {{route.name}} {{route.tags.route_long_name}}
	    {{/power-select}}
	    {{#unless hoverRoute}}
		  	<p class="caption">{{routeSelectContent}}</p>
				<form>
				  <row class="subheading-row">
						<div class="form-group-header">Style routes by:
						&nbsp;
							<div class="fa fa-question-circle" id="fa-question-circle-detail"></div>
						</div>
						{{#popover-on-element class="tooltip-on-sidebar" event="click"}}View route lines and display them by the route's transit mode or operator. Click a route on the map or in the list for its details.{{/popover-on-element}}
					</row>
				  <div class="form-group">
				  	{{#if (eq style_routes_by "mode")}}
				  		<input type="radio" id="radio-1" name="option-one" checked {{action "setRouteStyle" "mode"}}>
				  	{{else}}
				  		<input type="radio" id="radio-1" name="option-one" {{action "setRouteStyle" "mode"}}>
				  	{{/if}}
				    <label for="radio-1">Mode</label>
				    <div class="sidebar-dropdown">
					    {{#if (eq style_routes_by "mode")}}
					    	{{#unless vehicle_type}}
							    {{#power-select
							    	options=routeModes
							      selected=mode
										placeholder=placeholderMessageModes
										searchPlaceholder="Type to filter..."
							      onchange=(action "setMode")
						        onclose=(action "clearMode")
							      as |mode|
							    }}
								    <div style={{mode.style}}>{{mode.name}}</div>
								  {{/power-select}}
								{{/unless}}
						  {{/if}}
						</div>
				  </div>
				  <div class="form-group" >
				    {{#if (eq style_routes_by "operator")}}<input type="radio" id="radio-2" name="option-two" checked {{action "setRouteStyle" "operator"}}>
				    {{else}}<input type="radio" id="radio-2" name="option-two" {{action "setRouteStyle" "operator"}}>{{/if}}
				    <label for="radio-2">Operator</label>
						  {{#if (eq style_routes_by "operator")}}
				    		<div class="sidebar-dropdown">
								  {{#power-select
							    	options=routeOperators
							      selected=operator
										placeholder=placeholderMessageOperators
										searchPlaceholder="Type to filter..."
							      onchange=(action "setOperator")
						        onclose=(action "clearOperator")
							      as |operator|
								    }}
											<div style={{operator.style}}>{{operator.name}}</div>
								  {{/power-select}}
						  	</div>
						  {{/if}}
					  </div>
					</form>
				{{/unless}}
				{{#each model.routes as |route|}}
					{{#if (eq hoverRoute route.onestop_id)}}
						<div class="hover-detail">
							Route name: {{route.name}}<br>
							Operated by: {{route.operated_by_name}}<br>
							<p class="caption">Click the route line for more details</p>
						</div>
			  	{{/if}}
		  	{{/each}}
			{{/if}}
			{{#if hoverStop}}
			<row>
				<div class="hover-detail">
					{{#if onestop_id}}
						{{hoverStop.properties.name}}
					{{else}}
						{{hoverStop.name}}
					{{/if}}
					<p class="caption">Click the stop for more details</p>
				</div>
			</row>
			{{/if}}

			{{#unless onestop_id}}
				{{#if mapMoved}}
	    		<button class="btn btn-mapzen" {{action "updatebbox"}}>Redo search in map area</button>
	  		{{/if}}
  		{{/unless}}
		<br>
		</div>
	  {{#link-to 'stops' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null pin=pin serves=null vehicle_type=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Show Stops</button>{{/link-to}}
	  {{#link-to 'operators' (query-params bbox=leafletBbox onestop_id=null served_by=null operated_by=null pin=pin serves=null vehicle_type=null)}}<button class="btn btn-transparent-alt">Show Operators</button>{{/link-to}}
	  {{url-builder entity="routes" server="Transitland" query="results" queryParams=queryParams bbox=bbox onestop_id=onestop_id serves=serves operated_by=operated_by vehicle_type=vehicle_type}}
  </div>
	<hr class="sidebar-hr">
	{{sidebar-title-mobility}}
	<div class="btn-group-vertical" role="group" >
  	{{#link-to 'isochrones' (query-params bbox=leafletBbox onestop_id=null served_by=null isochrone_mode=null operated_by=null pin=pin serves=null vehicle_type=null isochrone_mode=null)}}<button class="btn btn-transparent-alt">Generate Isochrones</button>{{/link-to}}
  	{{#link-to 'map-matching' (query-params bbox=leafletBbox onestop_id=null served_by=null isochrone_mode=null operated_by=null pin=pin serves=null vehicle_type=null isochrone_mode=null trace=null)}}<button class="btn btn-transparent-alt">Try Map Matching</button>{{/link-to}}
 	</div>
</div>
<div class="col-md-8">
	<div class="row">
		{{#if media.isMobile}}
	    <button type="button" class="collapsed collapse-tab" data-toggle="collapse" data-target="#sidebar">&#8597;</button>
	  {{/if}}
		{{#if currentlyLoading.isLoading}}<div class="loading-spinner-03"></div>{{/if}}
	  <div id={{if currentlyLoading.isLoading 'map-loading' 'map'}}>
			<div class="location-search">
	      <div class="row">
	        <div class="col-md-2 ember-basic-dropdown-trigger-icon">
	          {{#if pin}}
	            <img src='assets/images/pin_x1.png' class="markerIcon-x" {{action "removePin"}}/>
	          {{else}}
	            <img src='assets/images/marker1.png' class="markerIcon"/>
	          {{/if}}
	        </div>
	        {{#power-select
	          search=(action "searchRepo")
	          selected=place
	          placeholder=searchbarContent
	          onchange=(action "setPlace")
	          onclose=(action "clearPlace")
	          as |repo|
	        }}
	          {{repo.properties.label}}
	        {{/power-select}}
	      </div>
			</div>
			<div class="nonmobile-intro-textbox">
	      {{#unless media.isMobile}}
	        {{#unless textboxIsClosed}}
	          {{text-box route="index" action="setTextBoxClosed"}}
	        {{/unless}}
	      {{/unless}}
	    </div>

			{{#leaflet-map bounds=leafletBounds onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onZoomend=(action "updateMapMoved")}}
				{{#if webGL}}
	        {{tangram-refill-basemap-layer}}
	      {{else}}
	        {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" attribution=attribution}}
	      {{/if}}
				{{#if onestop_id}}
			  	{{#if (eq style_routes_by "mode")}}
						{{#each model.routes as |route|}}
							  {{#geojson-layer geoJSON=route.mode_as_geojson_with_outline clickable=false onEachFeature=(action "onEachFeature")}}
								{{/geojson-layer}}
						{{/each}}
					{{else if (eq style_routes_by "operator")}}
						{{#each model.routes as |route|}}
							{{#geojson-layer geoJSON=route.operator_as_geojson_with_outline clickable=false onEachFeature=(action "onEachFeature")}}
							{{/geojson-layer}}
						{{/each}}
					{{else}}
						{{#each model.routes as |route|}}
								{{#geojson-layer geoJSON=route.default_as_geojson_with_outline clickable=false onEachFeature=(action "onEachFeature")}}
								{{/geojson-layer}}
						{{/each}}
					{{/if}}
					{{#if displayStops}}
						{{#each model.stops.features as |stop|}}
				  		{{#marker-layer location=stop.geometry.coordinates icon=stop.icon draggable=false riseOnHover=true riseOffset=1000 onMouseover=(action "selectStop" stop) onMouseout=(action "unselectStop" stop) onClick=(action "setStopOnestopId" stop)}}
				  		{{/marker-layer}}
			  		{{/each}}
			  	{{/if}}
			  {{else}}
					{{#if (eq style_routes_by "mode")}}
						{{#each model.routes as |route|}}
							  {{#geojson-layer geoJSON=route.mode_as_geojson_with_outline onEachFeature=(action "onEachFeature") onMouseover=(action "selectRoute") onMouseout=(action "unselectRoute") onClick=(action "setOnestopId" route)}}
								{{/geojson-layer}}
						{{/each}}
					{{else if (eq style_routes_by "operator")}}
						{{#each model.routes as |route|}}
							{{#geojson-layer geoJSON=route.operator_as_geojson_with_outline onEachFeature=(action "onEachFeature") onMouseover=(action "selectRoute") onMouseout=(action "unselectRoute") onClick=(action "setOnestopId" route)}}
								{{/geojson-layer}}
						{{/each}}
					{{else if operated_by}}
						{{#if (eq style_routes_by "mode")}}
							{{#each model.routes as |route|}}
								  {{#geojson-layer geoJSON=route.mode_as_geojson_with_outline onEachFeature=(action "onEachFeature") onMouseover=(action "selectRoute") onMouseout=(action "unselectRoute") onClick=(action "setOnestopId" route)}}
									{{/geojson-layer}}
							{{/each}}
						{{else}}
							{{#each model.routes as |route|}}
									{{#geojson-layer geoJSON=route.operator_focus_as_geojson_with_outline onEachFeature=(action "onEachFeature") onMouseover=(action "selectRoute") onMouseout=(action "unselectRoute") onClick=(action "setOnestopId" route)}}
									{{/geojson-layer}}
							{{/each}}
						{{/if}}
					{{else}}
						{{#each model.routes as |route|}}
								{{#geojson-layer geoJSON=route.default_as_geojson_with_outline onEachFeature=(action "onEachFeature") onMouseover=(action "selectRoute") onMouseout=(action "unselectRoute") onClick=(action "setOnestopId" route)}}
								{{/geojson-layer}}
						{{/each}}
					{{/if}}
					{{#if displayStops}}
						{{#each model.stops.features as |stop|}}
				  		{{#marker-layer location=stop.location icon=stop.stop_icon draggable=false clickable=true riseOnHover=true riseOffset=1000}}
		  				{{/marker-layer}}
			  		{{/each}}
			  	{{/if}}
			  	{{#each model.stops as |stop|}}
			  		{{#marker-layer location=stop.location icon=(div-icon html=stop.html className=stop.icon_class iconSize=stop.icon_size) draggable=false clickable=true riseOnHover=true riseOffset=1000 onMouseover=(action "selectStop" stop) onMouseout=(action "unselectStop" stop) onClick=(action "setStopOnestopId" stop)}}
			  		{{/marker-layer}}
					{{/each}}
				{{/if}}
				{{#if pin}}
	        {{#marker-layer location=pinLocation icon=icon draggable=true riseOnHover=true riseOffset=1000}}
	        {{/marker-layer}}
	      {{/if}}
			{{/leaflet-map}}
		</div>
	</div>
</div>