{{#if route}}
	Route details:<br>
	{{#if route.name}}<strong>Name:</strong> {{route.name}}<br>{{/if}}	
	{{#if route.short_name}}<strong>Short name:</strong> {{route.short_name}}<br>{{/if}}
	{{#if route.onestop_id}}<strong>ID:</strong> {{route.onestop_id}}<br>{{/if}}
	{{#if route.vehicle_type}}<strong>Vehicle type:</strong> {{route.vehicle_type}}<br>{{/if}}
	{{#if route.color}}<strong>Color:</strong> {{route.color}}<br>{{/if}}
	{{#if route.tags.route_url}}<strong>URL:</strong> {{route.tags.route_url}}<br>{{/if}}
	{{#if route.tags.route_desc}}<strong>Route description:</strong> {{route.tags.route_desc}}<br>{{/if}}
	{{#if route.tags.route_long_name}}<strong>Long name:</strong> {{route.tags.route_long_name}}<br>{{/if}}
	{{#if route.tags.route_text_color}}<strong>Text color:</strong> {{route.tags.route_text_color}}<br>{{/if}}
	{{#if route.operated_by_name}}
		<strong>Operated by:</strong> {{#link-to 'operators' (query-params bbox=bbox onestop_id=route.operated_by_onestop_id) }}{{route.operated_by_name}}<br>{{/link-to}}
	{{/if}}
	{{#if route.operated_by_onestop_id}}<strong>Operator ID:</strong> {{route.operated_by_onestop_id}}<br>{{/if}}
{{else}}
  	Select a route to view details:<br>
		<select>
			{{#each routes as |route|}}
		   	<option>
		   		

					{{#if route.name}}{{#link-to 'routes' (query-params onestop_id=route.onestop_id)}}{{route.name}}
				{{/link-to}}

					{{/if}}
					{{#if route.operated_by_name}} ({{route.operated_by_name}}){{/if}}
				</option>
			{{/each}}
		</select>
{{/if}}
<br>